{% extends "layout.html" %}
{% block pagetitle %}
Update Group User - {{ model.name }} - {{ App.name }}
{% endblock %}

{% block content %}
<div id="main_wrapper">
    <div class="page_content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">{{ model.name }}</div>
						<div class="panel-body">
						{% if message %}
							<div class="alert {% if success %}alert-success{% else %}alert-warning{% endif %}">{{ message | raw }}</div>
						{% endif %}
						<form method="post" name="group-update" class="form-horizontal">
							<div class="form-group">
								<label class="col-sm-2 control-label">Name</label>
								<div class="col-sm-6">
	                            	<input name="AdminGroup[name]" type="text" class="form-control" value="{{ model.name }}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Description</label>
								<div class="col-sm-6">
									<textarea name="AdminGroup[description]" class="form-control">{{ model.description }}</textarea>
								</div>
							</div>
                        	<div class="form-group">
								<label class="col-sm-2 control-label">&nbsp;</label>
								<div class="col-sm-10">
                                	<input type="submit" name="Submit" value="Update" class="btn btn-success btn-submit">
								</div>
                            </div>
                        </form>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partial/right_menu.html' %}
{% endblock %}
{% block endbodyjs %}
<script type="text/javascript">
	$(function () {
		var success_message = "{{ message }}";
		if (success_message && success_message.length > 0) {
			setTimeout(function () {
				window.location.href = window.location;
			}, 3000);
		}
	});
</script>
{% endblock %}
