<form method="post" id="transfers-form" class="mt20" action="{% if model.id %}{{ 'pos/transfers/update' | link }}/{{ model.id }}{% else %}{{ 'pos/transfers/create' | link }}{% endif %}">
    <div class="alert alert-warning" style="display: none;"></div>
    <div class="alert alert-success" style="display: none;"></div>
    <div class="col-md-12 mb10">
        <p>Kolom bertanda <span class="red">*</span> tidak boleh dikosongi</p>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="warehouse_from">Warehouse Dari <span class="text-danger">*</span></label>
            <select id="warehouse_from" name="TransferIssues[warehouse_from]" class="form-control select2">
                <option value="0">-</option>
                {% for i, warehouse in warehouses %}
                <option value="{{ warehouse.id }}" {% if model.warehouse_from and model.warehouse_from == warehouse.id %}selected="selected"{% endif %}>{{ warehouse.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label for="warehouse_to">Warehouse Tujuan <span class="text-danger">*</span></label>
            <select id="warehouse_to" name="TransferIssues[warehouse_to]" class="form-control select2">
                <option value="0">-</option>
                {% for i, warehouse in warehouses %}
                <option value="{{ warehouse.id }}" {% if model.warehouse_to and model.warehouse_to == warehouse.id %}selected="selected"{% endif %}>{{ warehouse.title }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <label>Tanggal Transfer <span class="text-danger">*</span></label>
            <div class="input-group date ts_datepicker" data-date-format="dd-mm-yyyy" data-date-autoclose="true">
                <input class="form-control" type="text" name="TransferIssues[date_transfer]"
                       {% if model and model.date_transfer %}
                       value="{{ model.date_transfer | date('d-m-Y') }}"
                       {% else %}
                       value="{{ now | date('d-m-Y') }}"
                       {% endif %}>
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
            <span class="help-block">Format: dd-mm-yyyy</span>
        </div>
        {% if model.status %}
        <div class="form-group hide">
            <label>Status <span class="text-danger">*</span></label>
            <select id="status" name="TransferIssues[status]" class="form-control">
                <option value="onprocess" {% if model.status and model.status == 'onprocess' %}selected="selected"{% endif %}>On Process</option>
                <option value="completed" {% if model.status and model.status == 'completed' %}selected="selected"{% endif %}>Completed</option>
                <option value="canceled" {% if model.status and model.status == 'canceled' %}selected="selected"{% endif %}>Canceled</option>
            </select>
        </div>
        {% endif %}
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="desc">Catatan</label>
            <textarea name="TransferIssues[notes]" id="desc" cols="10" rows="8" class="form-control">{% if model and model.notes %}{{ model.notes }}{% endif %}</textarea>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <input type="submit"
                   value="{% if not model %}Selanjutnya{% else %}Ubah Data{% endif %}"
                   class="btn btn-info"
                   {% if model and model.status in ['processed', 'completed', 'canceled'] %}style="display:none"{% endif %}>
            {% if model and model.status not in ['processed', 'completed', 'canceled'] %}
            <input type="button" value="Tandai Sudah Dikirim" class="btn btn-success" id="mark-as-sent" attr-id="{{ model.id }}">
            {% endif %}
        </div>
    </div>
</form>

<link rel="stylesheet" href="{{ 'lib/bootstrap-datepicker/css/datepicker3.css' | admin_asset_url }}">
<script src="{{ 'lib/bootstrap-datepicker/js/bootstrap-datepicker.js' | admin_asset_url }}"></script>
{% block endbodyjs %}
<script type="text/javascript">
    $(function () {
        $('#transfers-form').submit(function () {
            var url = $(this).attr('action');
            $('#transfers-form').find('.alert-warning').hide();
            $('#transfers-form').find('.alert-warning').empty();

            var warehouse_from = $('#transfers-form').find('select[id="warehouse_from"]').val();
            var warehouse_to = $('#transfers-form').find('select[id="warehouse_to"]').val();
            var has_error = 0;
            if (warehouse_from <= 0) {
                $('#transfers-form').find('.alert-warning').html('Warehouse Dari tidak boleh dikosongi.');
                var has_error = has_error + 1;
            }
            if (warehouse_to <= 0) {
                if (has_error == 0) {
                    $('#transfers-form').find('.alert-warning').html('Warehouse Tujuan tidak boleh dikosongi.');
                } else {
                    $('#transfers-form').find('.alert-warning').append('<br/>Warehouse tujuan tidak boleh dikosongi.');
                }
                var has_error = has_error + 1;
            }
            if (warehouse_from > 0 && warehouse_to > 0 && warehouse_from == warehouse_to) {
                if (has_error == 0) {
                    $('#transfers-form').find('.alert-warning').html('Warehouse Tujuan tidak boleh sama dengan warehouse asal.');
                } else {
                    $('#transfers-form').find('.alert-warning').append('<br/>Warehouse Tujuan tidak boleh sama dengan warehouse asal.');
                }
                var has_error = has_error + 1;
            }
            if (has_error > 0) {
                $('#transfers-form').find('.alert-warning').show();
                return false;
            }

            $.ajax({
                'url': url,
                'type':'post',
                'data': $('#transfers-form').serialize(),
                'success': function(data) {
                    if (data.status == 'success') {
                        var alert_success = $('#transfers-form').find('.alert-success');
                        alert_success.html(data.message);
                        alert_success.show();
                        setTimeout(function () {
                            if (data.updated == true) {
                                window.location.reload(true);
                            } else {
                                alert_success.hide();
                                alert_success.empty();
                                $('#transfers-form')[0].reset();
                                window.location.href = "{{ 'pos/transfers/update' | link }}/"+data.id+"#items";
                            }
                        }, 1000);
                    }
                }
            });

            return false;
        });
        tisa_datepicker.init();
        tisa_enhanced_select.init();
        mark_as_sent.init();
    });
    tisa_datepicker = {
        init: function() {
            if($('.ts_datepicker').length) {
                $('.ts_datepicker').datepicker({
                    todayHighlight: true
                })
            }
            if( ($('#dpStart').length) && ($('#dpEnd').length) ) {
                $('#dpStart').datepicker({
                    todayHighlight: true
                }).on('changeDate', function(e){
                    $('#dpEnd').datepicker('setStartDate', e.date);
                });
                $('#dpEnd').datepicker({
                    todayHighlight: true
                }).on('changeDate', function(e){
                    $('#dpStart').datepicker('setEndDate', e.date)
                });
            }
        }
    }
    tisa_enhanced_select = {
        init: function() {
            if($('.select2').length) {
                $('.select2').select2({
                    allowClear: true,
                    placeholder: "Select..."
                });
            }
        }
    }
    mark_as_sent = {
        init : function () {
            $('#mark-as-sent').click(function () {
                var $this = $(this);
                if (confirm('Anda yakin barang sudah dikirimkan?')) {
                    $.ajax({
                        'url': '{{ "pos/transfers/proceed-transfer" | link }}/'+$this.attr('attr-id'),
                        'type':'post',
                        'data': {'id':$this.attr('attr-id')},
                        'success': function(data) {
                            console.log(data);
                            if (data.status == 'success') {
                                var alert_success = $('#transfers-form').find('.alert-success');
                                alert_success.html(data.message);
                                alert_success.show();
                                $this.hide();
                                setTimeout(function () {
                                    window.location.reload(true);
                                }, 2000);
                            }
                        }
                    });
                }
                return false;
            });
        }
    }
</script>
{% endblock %}