<form method="post" id="receipt-form" class="mt20" action="{% if model.id %}{{ 'pos/transfers/update-receipt' | link }}/{{ model.id }}{% else %}{{ 'pos/transfers/create-receipt' | link }}{% endif %}">
    <div class="alert alert-success" style="display: none;"></div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="ti_number">Nomor Transfer <span class="required">*</span></label>
            {% if not model.id %}
            <select id="ti_number" name="TransferReceipts[ti_id]" class="form-control select2">
                {% for g, transfer in transfers %}
                <option value="{{ transfer.id }}" {% if model.ti_id and transfer.id == model.ti_id %}selected="selected"{% endif %}>
                    {{ transfer.ti_number }} [Dari {{ transfer.warehouse_from_name | title }}]
                </option>
                {% endfor %}
            </select>
            {% else %}
            <input type="text" name="TransferReceipts[ti_id]" class="form-control" value="{{ detail.ti_number }}" readonly="readonly">
            {% endif %}
        </div>
        <div class="form-group">
            <label>Tanggal Penerimaan <span class="text-danger">*</span></label>
            <div class="input-group date ts_datepicker" data-date-format="dd-mm-yyyy" data-date-autoclose="true">
                <input class="form-control" type="text" name="TransferReceipts[effective_date]"
                       {% if model and model.effective_date %}
                       value="{{ model.effective_date | date('d-m-Y') }}"
                       {% else %}
                       value="{{ now | date('d-m-Y') }}"
                       {% endif %}>
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            </div>
            <span class="help-block">Format: dd-mm-yyyy</span>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="desc">Catatan</label>
            <textarea name="TransferReceipts[notes]" id="desc" cols="10" rows="3" class="form-control">{% if model and model.notes %}{{ model.notes }}{% endif %}</textarea>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <input type="submit" value="Simpan" class="btn btn-info">
        </div>
    </div>
</form>

<link rel="stylesheet" href="{{ 'lib/bootstrap-datepicker/css/datepicker3.css' | admin_asset_url }}">
<script src="{{ 'lib/bootstrap-datepicker/js/bootstrap-datepicker.js' | admin_asset_url }}"></script>
{% block endbodyjs %}
<script type="text/javascript">
    $(function () {
        $('#receipt-form').submit(function () {
            var url = $(this).attr('action');
            $.ajax({
                'url': url,
                'type':'post',
                'data': $('#receipt-form').serialize(),
                'success': function(data) {
                    console.log(data);
                    if (data.status == 'success') {
                        var alert_success = $('#receipt-form').find('.alert-success');
                        alert_success.html(data.message);
                        alert_success.show();
                        setTimeout(function () {
                            if (data.updated == true) {
                                window.location.reload(true);
                            } else {
                                alert_success.hide();
                                alert_success.empty();
                                $('#receipt-form')[0].reset();
                                window.location.href = "{{ 'pos/transfers/update-receipt' | link }}/"+data.id+"#items";
                            }
                        }, 4000);
                    }
                }
            });

            return false;
        });
        tisa_datepicker.init();
        tisa_enhanced_select.init();
    });
    tisa_datepicker = {
        init: function() {
            if($('.ts_datepicker').length) {
                $('.ts_datepicker').datepicker({
                    todayHighlight: true
                })
            }
            if( ($('#dpStart').length) && ($('#dpEnd').length) ) {
                $('#dpStart').datepicker({
                    todayHighlight: true
                }).on('changeDate', function(e){
                    $('#dpEnd').datepicker('setStartDate', e.date);
                });
                $('#dpEnd').datepicker({
                    todayHighlight: true
                }).on('changeDate', function(e){
                    $('#dpStart').datepicker('setEndDate', e.date)
                });
            }
        }
    }
    tisa_enhanced_select = {
        init: function() {
            if($('.select2').length) {
                $('.select2').select2({
                    allowClear: true,
                    placeholder: "Select..."
                });
            }
        }
    }
</script>
{% endblock %}