{% extends "layout.html" %}
{% block pagetitle %}
Pindah Persediaan - {{ App.params.site_name }}
{% endblock %}

{% block content %}
<div id="main_wrapper">
    <div class="page_bar clearfix">
        <div class="row">
            <div class="col-sm-10">
                <h1 class="page_title">Pindah Persediaan #{{ model.ti_number }}</h1>
                <p class="text-muted">Pindah Persediaan adalah perpindahan stok antar gudang atau warehouse</p>
            </div>
            <div class="col-sm-2 text-right">
                <a class="btn btn-default" href="{{ 'pos/transfers/view' | link }}">Daftar Pindah Persediaan</a>
            </div>
        </div>
    </div>
    <div class="page_content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="nav nav-tabs" id="tabs_a">
                                <li>
                                    <a data-toggle="tab" href="#detail">Detail Data</a>
                                </li>
                                <li class="active">
                                    <a data-toggle="tab" href="#update">Ubah Data</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#items">Detail Item</a>
                                </li>
                                <li {% if not receipts %}style="display:none"{% endif %}>
                                    <a data-toggle="tab" href="#receipt">Penerimaan Barang</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tabs_content_a">
                                <div id="detail" class="tab-pane fade">
                                    {% include 'transfers/_detail.html' with {'model':model,'detail':detail, 'items':items} %}
                                </div>
                                <div id="update" class="tab-pane fade in active">
                                    {% include 'transfers/_form.html' with {'model':model, 'detail':detail, 'warehouses':warehouses} %}
                                </div>
                                <div id="items" class="tab-pane fade">
                                    {% include 'transfers/_items.html' with {'model':model,'detail':detail, 'items':items, 'products':products} %}
                                </div>
                                <div id="receipt" class="tab-pane fade">
                                    {% include 'transfers/_receipt.html' with {'model':model,'detail':detail, 'receipts':receipts, 'trimodel':trimodel} %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partial/right_menu.html' %}
{% endblock %}
{% block endbodyjs %}
<script type="text/javascript">
    $(function () {
        if (window.location.hash) {
            var hash = window.location.hash.substring(1);
            if ($('a[href="#'+hash+'"]').length > 0)
                $('a[href="#'+hash+'"]').click();
        }
    });
</script>
{% endblock %}
