{% extends "layout.html" %}
{% block pagetitle %}
Kelola Penerimaan Persediaan - {{ App.params.site_name }}
{% endblock %}

{% block content %}
<div id="main_wrapper">
    <div class="page_bar clearfix">
        <div class="row">
            <div class="col-sm-9">
                <h1 class="page_title">Penerimaan Persediaan #{{ model.tr_number }}</h1>
                <p class="text-muted">Halaman pengelolaan data Penerimaan Persediaan {{ model.tr_number | lower }}</p>
            </div>
            <div class="col-sm-3 text-right">
                <a class="btn btn-default" href="{{ 'pos/transfers/view-receipt' | link }}">Daftar Penerimaan Persediaan</a>
            </div>
        </div>
    </div>
    <div class="page_content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="nav nav-tabs" id="tabs_a">
                                <li>
                                    <a data-toggle="tab" href="#detail">Detail Data</a>
                                </li>
                                <li class="active">
                                    <a data-toggle="tab" href="#update">Ubah Data</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#items">Detail Item</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tabs_content_a">
                                <div id="detail" class="tab-pane fade">
                                    {% include 'transfers/_detail_receipt.html' with {'model':model,'detail':detail, 'items':items, 'trimodel':trimodel} %}
                                </div>
                                <div id="update" class="tab-pane fade in active">
                                    {% include 'transfers/_form_receipt.html' with {'model':model, 'detail':detail,'suppliers':suppliers, 'warehouses':warehouses, 'transfers':transfers} %}
                                </div>
                                <div id="items" class="tab-pane fade">
                                    {% include 'transfers/_items_receipt.html' with {'model':model,'detail':detail, 'items':items, 'products':products, 'trimodel':trimodel} %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partial/right_menu.html' %}
{% endblock %}
{% block endbodyjs %}
<script type="text/javascript">
    $(function () {
        if (window.location.hash) {
            var hash = window.location.hash.substring(1);
            if ($('a[href="#'+hash+'"]').length > 0)
                $('a[href="#'+hash+'"]').click();
        }
    });
</script>
{% endblock %}
