{% extends "layout.html" %}
{% block pagetitle %}
Inventory Issue - {{ App.params.site_name }}
{% endblock %}

{% block content %}
<!-- main content -->
<div id="main_wrapper">
    <div class="page_bar clearfix">
        <div class="row">
            <div class="col-sm-9">
                <h1 class="page_title">Pengeluaran Barang Non Penjualan</h1>
                <p class="text-muted">Daftar transaksi pengeluaran barang non penjualan dan non perpindahan stok antar gudang.</p>
            </div>
            <div class="col-sm-3 text-right">
                <a class="btn btn-default" data-toggle="tab" href="#create-new">Tambah Pengeluaran Baru</a>
            </div>
        </div>
    </div>
    <div class="page_content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="nav nav-tabs" id="tabs_a">
                                <li class="active">
                                    <a data-toggle="tab" href="#daftar">Daftar Pengeluaran Barang</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#create-new">Tambah Pengeluaran Baru</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tabs_content_a">
                                <div id="daftar" class="tab-pane fade in active">
                                    <div id="dt_basic_wrapper" class="dataTables_wrapper form-inline no-footer table-responsive mt20" role="grid">
                                        <table id="dt_basic" class="table table-striped dataTable">
                                            <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Nomor Issue</th>
                                                <th>Warehouse</th>
                                                <th>Status</th>
                                                <th>Keterangan</th>
                                                <th>Tanggal Issue</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for i, inventory in inventories %}
                                            <tr>
                                                <td><center>{{ i + 1 }}</center></td>
                                                <td>
                                                    <a href="{{ 'pos/inventories/update' | link }}/{{ inventory.id }}#detail" title="Detail Inventory Issue">
                                                        {{ inventory.ii_number }}
                                                    </a>
                                                </td>
                                                <td>
                                                    <a href="{{ 'pos/warehouses/update' | link }}/{{ inventory.warehouse_id }}#detail" title="Detail Warehouse">
                                                        {{ inventory.warehouse_name }}
                                                    </a>
                                                </td>
                                                <td><b>{{ inventory.status | title }}</b></td>
                                                <td>{{ inventory.notes | default('-') }}</td>
                                                <td>{{ inventory.effective_date }}</td>
                                                <td>
                                                    <a href="{{ 'pos/inventories/update' | link }}/{{ inventory.id }}" title="Ubah Inventory Issue">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a href="{{ 'pos/inventories/update' | link }}/{{ inventory.id }}#detail" title="Detail Inventory Issue">
                                                        <i class="fa fa-search"></i>
                                                    </a>
                                                    <a href="{{ 'pos/inventories/delete' | link }}/{{ inventory.id }}" onclick="return hapus(this);">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% else %}
                                            <tr class="no-data">
                                                <td>No data founds</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="create-new" class="tab-pane fade">
                                    {% include 'inventories/_form.html' with {'warehouses':warehouses} %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partial/right_menu.html' %}
{% endblock %}
{% block endbodyjs %}
<script src="{{ 'lib/DataTables/media/js/jquery.dataTables.min.js' | admin_asset_url }}"></script>
<script src="{{ 'lib/DataTables/media/js/dataTables.bootstrap.js' | admin_asset_url }}"></script>
<script type="text/javascript">
    function hapus(data) {
        if (confirm('Anda yakin ingin menghapus item ini ?')) {
            var $this =  $(data);
            var url = $this.attr('href');
            $.ajax({
                'url': url,
                'type':'post',
                //'dataType': 'json',
                'success': function(data) {
                    if (data.status == 'success') {
                        $this.parent().parent().remove();
                    }
                }
            });
        }
        return false;
    }
    $(function () {
       if (window.location.hash) {
           var hash = window.location.hash.substring(1);
           if ($('a[href="#'+hash+'"]').length > 0)
                $('a[href="#'+hash+'"]').click();
       }
    });
</script>
{% endblock %}
