<form method="post" id="product-dimension-form" class="mt20" action="{{ 'pos/products/create-dimension' | link }}/{{ model.id }}">
    <div class="alert alert-success" style="display: none;"></div>
    {% set configs = model.config | json_decode %}
    {% set dimensions = configs.dimension %}
    {% for i, dimension in dimensions %}
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="satuan">Satuan Ukuran <span class="required">*</span></label>
                    <input type="text" id="satuan" name="ProductDimensions[satuan][]" class="form-control" value="{{ dimension.satuan }}" required>
                    <span class="help-block">Contoh: Berat, Panjang, Lebar, Tinggi, dll.</span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="nilai">Nilai <span class="required">*</span></label>
                    <input type="text" id="nilai" name="ProductDimensions[nilai][]" class="form-control" value="{{ dimension.nilai }}" required>
                    <span class="help-block">Masukkan nilai hanya dalam format angka. misal 25.</span>
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    <label for="unit">Unit <span class="required">*</span></label>
                    <input type="text" id="unit" name="ProductDimensions[unit][]" class="form-control" value="{{ dimension.unit }}" required>
                    <span class="help-block">Contoh: kg, cm, mm, dll.</span>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <a href="javascript:void(0);" onclick="removedimension(this, true);" attr-id="{{ dimension.id }}" title="Hapus price ini">
                        <i class="fa fa-trash-o fa-2x"></i>
                    </a>
                    {% if i + 1 == dimensions | length %}
                    <a href="javascript:void(0);" onclick="addDimensionItem(this, false);"><i class="fa fa-plus fa-2x"></i></a>
                    {% endif %}
                </div>
            </div>
            <input type="hidden" name="ProductDimensions[id][]" value="{{ dimension.id }}">
        </div>
    </div>
    {% endfor %}
    <div class="col-md-12" id="dimension-form">
        {% if dimensions | length <= 0 %}
        {% include 'products/_dimensi_form.html' with {'model':model} %}
        {% endif %}
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <input name="ProductDimensions[product_id]" type="hidden" value="{{ model.id }}">
            <input type="submit" value="Simpan" class="btn btn-info">
        </div>
    </div>
</form>

<style>
    .row + .row {margin-top: 0px;}
</style>
<script type="text/javascript">
    function removedimension(dt, execute = false) {
        if ($(dt).parent().find('.fa-plus').parent().is(':visible')) {
            alert('Dimensi ini tidak dapat dihapus!.');
        } else {
            if (confirm('Anda yakin ingin menghapus dimensi ini?')) {
                if (execute) {
                    $.ajax({
                        'url': '{{ "pos/products/delete-dimension" | link }}/{{ model.id }}',
                        'type':'post',
                        'data':{'id':$(dt).attr('attr-id')},
                        'success': function(data) {
                            console.log(data);
                            if (data.status == 'success') {
                                $(dt).parent().parent().parent().remove();
                            }
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            console.log("Status: " + textStatus + " Message: "+errorThrown);
                        }
                    });
                } else {
                    $(dt).parent().parent().parent().remove();
                }
            }
        }
        return false;
    }
    function addDimensionItem(dt, hide = true) {
        $.ajax({
            'url': '{{ "pos/products/create-dimension" | link }}/{{ model.id }}',
            'type':'get',
            'success': function(data) {
                $('#dimension-form').append(data);
                $(dt).hide();
                if (hide) {
                    $(dt).parent().find('.fa-trash-o').parent().show();
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log("Status: " + textStatus + " Message: "+errorThrown);
            }
        });
    }
    $(function () {
        $('#product-dimension-form').submit(function () {
            var url = $(this).attr('action');
            $.ajax({
                'url': url,
                'type':'post',
                'data': $('#product-dimension-form').serialize(),
                'success': function(data) {
                    console.log(data);
                    if (data.status == 'success') {
                        var alert_success = $('#product-dimension-form').find('.alert-success');
                        alert_success.html(data.message);
                        alert_success.show();
                        setTimeout(function () {
                            window.location.reload(true);
                        }, 5000);
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    console.log("Status: " + textStatus + " Message: "+errorThrown);
                }
            });

            return false;
        });
    });
</script>