<div class="row">
    <div class="col-sm-9">
        <div class="row">
            <div class="col-md-5 col-sm-6" id="list-item">
                <select class="form-control no-margin select2" name="scan" id="scan">
                    <option value="" selected="selected">Pilih Nama Barang</option>
                    {% for i, product in products %}
                    <option value="{{ product.id }}">{{ product.title | title }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-md-7 col-sm-6 text-right">
                <div class="col-md-4">
                    {% set transaction_types = {1:'Faktur Penjualan', 2:'Retur'} %}
                    <select class="form-control" onchange="transaction.setType(this);" name="transaction_type" id="transaction-type">
                        {% for id_type, type_name in transaction_types %}
                        <option value="{{ id_type }}" {% if id_type == transaction_type %}selected="selected"{% endif %}>{{ type_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="col-md-8">
                    {% set warehouses = App.call.model("\\Model\\WarehousesModel", 'getData', {'status':1}) %}
                    <select class="form-control" onchange="transaction.setWarehouse(this);" name="warehouse_id" id="warehouse-id">
                        <option value="">Pilih Warehouse</option>
                        {% for i, warehouse in warehouses %}
                        <option value="{{ warehouse.id }}" {% if warehouse.id == warehouse_id %}selected="selected"{% endif %}>{{ warehouse.title }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="table-responsive mar_top1 col-md-12 col-sm-12" id="sales-frame">
                <table class="table table-striped mb30 items">
                    <thead>
                    <tr>
                        <th>No</th>
                        <!--<th>Kode Produk</th>-->
                        <th>Nama Produk</th>
                        <th>Harga</th>
                        <th>Jumlah</th>
                        <th>Diskon</th>
                        <th>Total</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% include 'transactions/_items.html' with {'items_belanja':items_belanja} %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 col-sm-12">
                <div class="form-group">
                    <label class="control-label">*) <a onclick="js:$('.promocode').toggle();" href="javascript:void(0);">Gunakan Kode Promosi</a></label>
                    <input class="form-control promocode" placeholder="Please insert the promotion code" style="display:none;" name="promocode" id="promocode" type="text">
                </div>
            </div>
            <div class="col-md-6 col-sm-12 text-right" id="payment-button" {% if items_belanja | length == 0 %}style="display:none"{% endif %}>
                {#<input onclick="return transaction.paymentRequest();" style="min-width:100px;" id="payment-btn" class="btn btn-success btn-primary" name="yt0" value="Pembayaran" type="button">#}
                <div class="row-fluid mt10" id="payment-form"></div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="row">
            <div class="col-sm-12">
                <span class="fa fa-group"></span> <b>Pilih Pelanggan (Optional)</b>
                <select data-live-search="1" class="form-control no-margin" name="find_customer" id="find_customer">
                    <option value="" {% if not selected_customer %}selected="selected"{% endif %}>Pilih Pelanggan</option>
                    {% for i, customer in customers %}
                    <option value="{{ customer.id }}" {% if customer.id == selected_customer %}selected="selected"{% endif %}>{{ customer.name }}</option>
                    {% endfor %}
                </select>

                <div class="clearfix mb10"></div>
                <button class="btn btn-info btn-block" onclick="createCustomer();">Tambah Pelanggan</button>
            </div>
            <div class="col-sm-12">
                <div class="table-responsive mt10">
                    <table class="table table-striped mb10">
                        <tbody>
                        <tr>
                            <td><b>Sub Total</b></td>
                            <td><h3><span id="sub-total" style="font-size:35px;">{{ sub_total | number_format(2, ',', '.') }}</span></h3></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-sm-12" id="btn-cancel-container" {% if items_belanja | length == 0 %}style="display:none"{% endif %}>
                <button class="btn btn-primary col-sm-6" onclick="transaction.holdTransaction();">Penangguhan</button>
                <input onclick="return transaction.cancelRequest();" id="cancel-btn" class="btn btn-danger col-sm-6" value="Pembatalan" type="button">
            </div>
        </div>
    </div>
</div><!-- row -->

<button class="btn btn-primary btn-lg hidden" data-target="#myModal" data-toggle="modal" id="launch-modal"> Launch Modal </button>
<div id="myModal" class="modal fade" aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" aria-hidden="true" data-dismiss="modal" type="button">×</button>
                <h4 id="myModalLabel" class="modal-title">Modal title</h4>
            </div>
            <div class="modal-body has-padding" id="div-for-items"> Content goes here... </div>
            <div class="modal-footer hide">
                <button class="btn btn-default" data-dismiss="modal" type="button">Close</button>
                <button class="btn btn-primary" id="btn-print" type="button">Print</button>
            </div>
        </div>
    </div>
</div>
<script src="{{ 'js/jquery.maskMoney.min.js' | admin_asset_url }}"></script>

{% block endbodyjs %}
<script type="text/javascript">
    $(function () {
        tisa_enhanced_select.init();
        $('select[id="scan"]').change(function(){
            transaction.pushSearch(this.value);
        });
        $('input[name="discount"]').change(function () {
            transaction.pushDiscount(this);
            return false;
        });
        var has_cart = "{{ items_belanja | length }}";
        if (parseInt(has_cart) > 0) {
            transaction.paymentRequest();
        } else {
            $('#payment-form').empty();
        }
        $('input[name="tax"]').change(function () {
            transaction.pushTax(this);
        });
        $('.submit-payment').click(function () {
            alert(this);
        });
        $('select[name="find_customer"]').change(function () {
            transaction.setCustomer(this);
        });
    });
    tisa_enhanced_select = {
        init: function() {
            if($('.select2').length) {
                $('.select2').select2({
                    allowClear: true,
                    placeholder: "Select..."
                });
            }
        }
    }
    transaction = {
        pushSearch: function (item) {
            $.ajax({
                'beforeSend': function() { Loading.show(); },
                'complete': function() { Loading.hide(); },
                'url': "{{ 'pos/transactions/scan' | link }}",
                'type':'post',
                'data':{"item":item},
                'success': function(data){
                    if(data.status=='success'){
                        transaction.refreshChart();
                        $('span[id="sub-total"]').html(transaction.moneyFormat(data.sub_total));
                        $('#payment-button').css('display','block');
                        $("input[id='scan']").val("");
                        $('#list-item').find("input.input-block-level").val("");
                        $('#list-item').find(".filter-option").html('Pilih Nama Barang');
                        transaction.paymentRequest();
                    }else{
                        $("input[id='scan']").val("");
                        $("input[id='scan']").focus();
                    }
                },
            });
            return false;
        },
        deleteItem: function (id) {
            if(confirm('Anda yakin ingin menghapus item ini ?')){
                $.ajax({
                    'beforeSend': function() { Loading.show(); },
                    'complete': function() { Loading.hide(); },
                    'url': "{{ 'pos/transactions/delete-item' | link }}/"+id,
                    'type':'post',
                    'data':{"id":id},
                    'success': function(data){
                        console.log(data);
                        if(data.status=='success'){
                            transaction.refreshChart();
                            $('span[id="sub-total"]').html(transaction.moneyFormat(data.sub_total));
                        }
                    },
                });
                return false;
            }
        },
        refreshChart: function () {
            $.ajax({
                'beforeSend': function() { Loading.show(); },
                'complete': function() { Loading.hide(); },
                'url': "{{ 'pos/transactions/cart' | link }}",
                'type':'get',
                'success': function(data){
                    console.log(data);
                    $('#sales-frame table.items tbody').html(data);
                    //$('span[id="sub-total"]').html(data.sub_total);
                    $("input[id='scan']").focus();
                },
            });
        },
        moneyFormat: function (num) {
            return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.")+',00';
        },
        pushQty: function (id,data) {
            var $this = $(data);
            var qty = data.value;
            if(typeof qty == "undefined")
                var qty = $this.val();
            $.ajax({
                'beforeSend': function() { Loading.show(); },
                'complete': function() { Loading.hide(); },
                'url' : "{{ 'pos/transactions/update-qty' | link }}",
                'type' : 'post',
                'data' : {"id":id, "qty":qty},
                'success' : function(data){
                    console.log(data);
                    if (data.status == 'success'){
                        $('input[id="qty"]').html(data.div);
                        $('span[id="sub-total"]').html(transaction.moneyFormat(data.subtotal));
                        $('#discount-'+id).find('input').val(data.discount_percentage);
                        $('#total-item-'+id).html(transaction.moneyFormat(data.total));
                        $("input[id='scan']").focus();
                        $('input[id="PaymentForm_amount_tendered"]').val(transaction.moneyFormat(data.total));
                    } else
                        $this.val(1);
                },
            });
            return false;
        },
        pushDiscount: function (data) {
            var $this = $(data);
            var id = $this.attr('rel_id');
            $.ajax({
                'beforeSend': function() { Loading.show(); },
                'complete': function() { Loading.hide(); },
                'url': "{{ 'pos/transactions/discount' | link }}",
                'type':'post',
                'data':{'id':id,'value':$this.val()},
                'dataType': 'json',
                'success': function(data){
                    if (data.status == 'success'){
                        $('#total-item-'+id).html(data.total);
                        $("input[id='scan']").focus();
                        $('input[id="PaymentForm_amount_tendered"]').val(data.total);
                    }
                },
            });
            return false;
        },
        setType: function (data) {
            var $this = $(data);
            $.ajax({
                'beforeSend': function() { Loading.show(); },
                'complete': function() { Loading.hide(); },
                'url': "{{ 'pos/transactions/set-type' | link }}",
                'type':'post',
                'data':{'type':$this.val()},
                'dataType': 'json',
                'success': function(data){
                    if ( data.status=='success' ){
                        window.location.reload(true);
                    }
                },
            });
            return false;
        },
        holdTransaction: function () {
            
        },
        cancelRequest: function () {
            if(confirm('Anda yakin ingin membatalkan transaksi ini ?')){
                $.ajax({
                    'beforeSend': function() { Loading.show(); },
                    'complete': function() { Loading.hide(); },
                    'url': "{{ 'pos/transactions/cancel-transaction' | link }}",
                    'type':'post',
                    'dataType': 'json',
                    'success': function(data){
                        if ( data.status=='success' ){
                            window.location.reload(true);
                        }
                    },
                });
                return false;
            }
        },
        paymentRequest: function () {
            var id = "{{ params.id }}";
            $.ajax({
                'beforeSend': function() { Loading.show(); },
                'complete': function() { Loading.hide(); },
                'url': "{{ 'pos/transactions/payment-request' | link }}",
                'type':'post',
                'data':{'id':id},
                'success': function(data){
                    $('#payment-form').html(data);
                    $('input[id="PaymentForm_amount_tendered"]').focus();
                    $('input[id="PaymentForm_amount_tendered"]').trigger('click');
                    $('#btn-cancel-container').show();
                },
            });
            return false;
        },
        changeRequest: function (amount_tendered) {
            $.ajax({
                'beforeSend': function() { Loading.show(); },
                'complete': function() { Loading.hide(); },
                'url': "{{ 'pos/transactions/change-request' | link }}",
                'type':'post',
                'data':{"amount_tendered":amount_tendered},
                'success': function(data){
                    $('#change').html(data);
                    $('.submit-payment').removeAttr('disabled');
                    setTimeout(function () {
                        $('.submit-payment').focus();
                    }, 100);
                },
            });
            return false;
        },
        pushTax: function (data) {
            var $this = $(data);
            $.ajax({
                'beforeSend': function() { Loading.show(); },
                'complete': function() { Loading.hide(); },
                'url': "{{ 'pos/transactions/tax' | link }}",
                'type':'post',
                'data':{"taxt":$this.val()},
                'success': function(data){

                },
            });
        },
        setCustomer: function (data) {
            var $this = $(data);
            $.ajax({
                'beforeSend': function() { Loading.show(); },
                'complete': function() { Loading.hide(); },
                'url': "{{ 'pos/transactions/set-customer' | link }}",
                'type':'post',
                'data':{"customer_id":$this.val()},
                'success': function(data){

                },
            });
        },
        setWarehouse: function (data) {
            var $this = $(data);
            $.ajax({
                'beforeSend': function() { Loading.show(); },
                'complete': function() { Loading.hide(); },
                'url': "{{ 'pos/transactions/set-warehouse' | link }}",
                'type':'post',
                'data':{'warehouse_id':$this.val()},
                'dataType': 'json',
                'success': function(data){
                    console.log(data);
                    if ( data.status=='success' ){
                        window.location.reload(true);
                    } else {
                        Loading.hide();
                    }
                },
                complete: function() {
                    $this.data('requestRunning', false);
                }
            });
            return false;
        },
    }
    Loading = {
        show: function () {
            $('.loader').show();
        },
        hide: function () {
            $('.loader').hide();
        }
    }

    function checkSearch(data,action)
    {
        if(data.value!==''){
            pushSearch(data.value,action);
        }
    }

    function moneyUnformat(money_string) {
        return money_string
            .replace(/,/g , "__COMMA__") // Replace `,` by some unique string
            .replace(/\./g, '')         // Replace `.` by `,`
            .replace(/__COMMA__/g, '.');
    }

    function createCustomer()
    {
        $.ajax({
            'beforeSend': function() { Loading.show(); },
            'complete': function() { Loading.hide(); },
            'url': "{{ 'pos/customers/create' | link }}",
            'type':'post',
            //'dataType': 'json',
            'success': function(data){
                $('.modal-content .modal-footer').hide();
                $('.modal-content .modal-title').html("Tambah Pelanggan");
                $('.modal-content #div-for-items').html(data);
                $('#launch-modal').trigger('click');
                $("input[id='Customer_name']").focus();
            },
        });
        return false;
    }
    
    function pushFindCustomer(nama,url)
    {
        $.ajax({
            'beforeSend': function() { Loading.show(); },
            'complete': function() { Loading.hide(); },
            'url': url,
            'type':'post',
            'data':{'nama':nama},
            'dataType': 'json',
            'success': function(data){
                if(data.status=='success'){
                    $('#customer-name').html(data.div);
                    $('#customer-name').css('display','block');
                    $('#find-customer').css('display','none');
                    $("input[id=\'scan\']").focus();
                }
            },
        });
        return false;
    }
    function pushFindPromoCode(promocode,url)
    {
        $.ajax({
            'beforeSend': function() { Loading.show(); },
            'complete': function() { Loading.hide(); },
            'url': url,
            'type':'post',
            'data':{'promocode':promocode},
            'dataType': 'json',
            'success': function(data){
                if(data.status=='success'){
                    $('#sales-frame table.items tbody').html(data.cart);
                    $('#sub-total').html(data.subtotal);
                    $("input[id=\'scan\']").val("");
                }
            },
        });
        return false;
    }

    $(document).ready(function(){
        function setfocus(){
            $("input[id='items_name']").focus();
        }

        document.onkeydown = function(e){
            setfocus();
            if (e.keyCode == 33){//--Tombol_PgUp---
                $("#list-item").find('#scan').trigger('click');
            }
            else if (e.keyCode == 34){//--Tombol_PgDn---
                $('#payment-btn').click();
            }
            else if (e.keyCode == 18){//--Tombol_ALT---
                $('#cancel-btn').click();
            }
            else if (e.keyCode==27){//--Tombol_ESC---
                //$('#dialogItems').dialog('close');
                $('button[data-dismiss="modal"]').trigger('click');
                $('#cancel-btn').click();
            }
            else if (e.keyCode == 36){//--Tombol_Home---
                
            }
            else if (e.keyCode == 45){//--Tombol_Ins---
                createCustomer();
            }
            else if (e.keyCode == 112){//--Tombol_F1---
                $('#find-customer').toggle();
            }
            else {
                setfocus();
            }
        }
    });
</script>
{% endblock %}