{% extends "layout.html" %}
{% block pagetitle %}
Transaksi - {{ App.params.site_name }}
{% endblock %}

{% block content %}
<!-- main content -->
<div id="main_wrapper">
    <div class="page_bar clearfix">
        <div class="row">
            <div class="col-sm-9">
                <h1 class="page_title">Transaksi</h1>
                <p class="text-muted">Halaman daftar semua transaksi penjualan</p>
            </div>
            <div class="col-sm-3 text-right">
                <a class="btn btn-default" href="{{ 'pos/transactions/create' | link }}">Transaksi Penjualan Baru</a>
            </div>
        </div>
    </div>
    <div class="page_content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Daftar Transaksi</div>
                        <div class="panel-body">
                            <div id="dt_basic_wrapper" class="dataTables_wrapper form-inline no-footer table-responsive" role="grid">
                                <table id="dt_basic" class="table table-striped dataTable">
                                    <thead>
                                    <tr>
                                        <th>id</th>
                                        <th>Nama Produk</th>
                                        <th>Jumlah</th>
                                        <th>Harga</th>
                                        <th>Diskon</th>
                                        <th>Tanggal Transaksi</th>
                                        <th>&nbsp;</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for i, order in orders %}
                                    <tr>
                                        <td><center>{{ i+1 }}</center></td>
                                        <td>{{ order.title }}</td>
                                        <td style="text-align: center;">{{ order.quantity }}</td>
                                        <td style="text-align: right;">{{ order.price | number_format(0, ",", ".") }}</td>
                                        <td style="text-align: right;">{{ order.discount | number_format(0, ",", ".") }}</td>
                                        <td>{{ order.created_at }}</td>
                                        <td>
                                            <a href="{{ 'pos/transactions/update' | link }}/{{ order.id }}" title="Ubah Transaksi">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="{{ 'pos/transactions/delete' | link }}/{{ order.id }}" onclick="return hapus(this);">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                    {% else %}
                                    <tr class="no-data">
                                        <td>No data founds</td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partial/right_menu.html' %}
{% endblock %}
{% block endbodyjs %}
<script src="{{ 'lib/DataTables/media/js/jquery.dataTables.min.js' | admin_asset_url }}"></script>
<script src="{{ 'lib/DataTables/media/js/dataTables.bootstrap.js' | admin_asset_url }}"></script>
<script type="text/javascript">
    function hapus(data) {
        if (confirm('Anda yakin ingin menghapus item ini ?')) {
            var $this =  $(data);
            var url = $this.attr('href');
            $.ajax({
                'url': url,
                'type':'post',
                'dataType': 'json',
                'success': function(data) {
                    if (data) {
                        $this.parent().parent().remove();
                    }
                }
            });
        }
        return false;
    }
</script>
{% endblock %}
