<form method="post" id="supplier-form" class="mt20" action="{% if model.id %}{{ 'pos/suppliers/update' | link }}/{{ model.id }}{% else %}{{ 'pos/suppliers/create' | link }}{% endif %}">
    <div class="alert alert-success" style="display: none;"></div>
    <div class="col-md-12">
        <p>Kolom bertanda <span class="red">*</span> tidak boleh dikosongi</p>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="name">Nama Supplier <span class="required">*</span></label>
            <input type="text" id="name" name="Suppliers[name]" class="form-control" {% if model.name %}value="{{ model.name }}"{% endif %} required>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="name">Nomor Telephone <span class="required">*</span></label>
            <input type="text" id="name" name="Suppliers[phone]" class="form-control" {% if model.phone %}value="{{ model.phone }}"{% endif %} required>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="desc">Alamat <span class="required">*</span></label>
            <textarea name="Suppliers[address]" id="desc" cols="10" rows="3" class="form-control" required>{% if model and model.address %}{{ model.address }}{% endif %}</textarea>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label for="desc">Catatan</label>
            <textarea name="Suppliers[notes]" id="desc" cols="10" rows="3" class="form-control">{% if model and model.notes %}{{ model.notes }}{% endif %}</textarea>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <input type="submit" value="Simpan" class="btn btn-info">
        </div>
    </div>
</form>

<script type="text/javascript">
    $(function () {
        $('#supplier-form').submit(function () {
            var url = $(this).attr('action');
            $.ajax({
                'url': url,
                'type':'post',
                'data': $('#supplier-form').serialize(),
                'success': function(data) {
                    if (data.status == 'success') {
                        var alert_success = $('#supplier-form').find('.alert-success');
                        alert_success.html(data.message);
                        alert_success.show();
                        setTimeout(function () {
                            if (data.updated == true) {
                                window.location.reload(true);
                            } else {
                                alert_success.hide();
                                alert_success.empty();
                                $('#supplier-form')[0].reset();
                            }
                        }, 5000);
                    }
                }
            });

            return false;
        });
    });
</script>