<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<div id="modal2" class="modal modal__bg">
    <div class="modal__dialog">
        <div class="modal__content">
            <div class="modal__header">
                <div class="modal__title">
                    <h2 class="modal__title-text">Add Customer</h2>
                </div>

                <span class="mdl-button mdl-button--icon mdl-js-button  material-icons mdl-js-ripple-effect  modal__close"></span>
            </div>


            <div class="modal__text">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Debitis laboriosam accusantium facere suscipit, alias accusamus corrupti consequatur at porro,
                    voluptates commodi sed omnis voluptatem, ex officiis illum, architecto fugiat id?
                </p>
            </div>

            <div class="modal__footer">
                <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect  modal__close">
                    Close
                </a>
            </div>
        </div>
    </div>
</div>
</div>