<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp mt-10">
    <thead>
    <tr>
        <th class="mdl-data-table__cell--non-numeric">Material</th>
        <th class="mdl-cell--hide-tablet">Quantity</th>
        <th>Unit price</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
        <td class="mdl-cell--hide-tablet">25</td>
        <td>$2.90</td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
        <td class="mdl-cell--hide-tablet">50</td>
        <td>$1.25</td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
        <td class="mdl-cell--hide-tablet">10</td>
        <td>$2.35</td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
        <td class="mdl-cell--hide-tablet">25</td>
        <td>$2.90</td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
        <td class="mdl-cell--hide-tablet">50</td>
        <td>$1.25</td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
        <td class="mdl-cell--hide-tablet">10</td>
        <td>$2.35</td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Acrylic (Transparent)</td>
        <td class="mdl-cell--hide-tablet">25</td>
        <td>$2.90</td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Plywood (Birch)</td>
        <td class="mdl-cell--hide-tablet">50</td>
        <td>$1.25</td>
    </tr>
    <tr>
        <td class="mdl-data-table__cell--non-numeric">Laminate (Gold on Blue)</td>
        <td class="mdl-cell--hide-tablet">10</td>
        <td>$2.35</td>
    </tr>
    </tbody>
</table>