{% extends "layout.html" %}
{% block pagetitle %}
{{ trans.get('mobile', 'Sale Transaction') }} - {{ App.params.site_name }}
{% endblock %}

{% block header %}
<header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--white mdl-layout--fixed-tabs">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">
            {% set warehouses = App.call.model("\\Model\\WarehousesModel", 'getData', {'status':1}) %}
            {% block pagesection %}
            <div class="mdl-selectfield mdl-js-selectfield">
              <select id="warehouse_id" class="mdl-selectfield__select">
                  {% for w,warehouse in warehouses %}
                <option value="option1">{{ warehouse.title }}</option>
                  {% endfor %}
              </select>
              <label class="mdl-selectfield__label" for="warehouse_id">Warehouse</label>
              <span class="mdl-selectfield__error">Select a value</span>
            </div>
            {% endblock %}
        </span>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" id="search">
                <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
        </div>
        {% if not App.user.isGuest() %}
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">shopping_cart</i>
        </button>
        {% endif %}
    </div>
    <!-- Tab Container with Tab links -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--grey-300">
        <!-- class is-active to show currently active tab -->
        <a href="#fixed-tab-1" class="mdl-layout__tab mdl-cell--hide-tablet mdl-cell--hide-desktop">{{ trans.get('mobile', 'Item List') }}</a>
        <a href="#fixed-tab-2" class="mdl-layout__tab is-active">{{ trans.get('mobile', 'Transaction') }}</a>
        <a href="#fixed-tab-3" class="mdl-layout__tab">{{ trans.get('mobile', 'Payment') }}</a>
    </div>
</header>
{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ 'mobile/assets/lib/mdl-selectfield/mdl-selectfield.min.css' | module_path }}">
<style>
    #fixed-tab-3 td, th {width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;}
</style>
<!-- Layout Container with Fixed Header and Tabs -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
    <main class="mdl-layout__content">
        <!-- Tab 1 -->
        <section class="mdl-layout__tab-panel mdl-cell--hide-tablet mdl-cell--hide-desktop" id="fixed-tab-1">
            {% set products = App.call.model("\\Model\\ProductsModel", 'getData', {'status':1}) %}
            {% include "sale/_product.html" with {'products':products} %}
        </section>

        <!-- Tab 2 -->
        <section class="mdl-layout__tab-panel is-active" id="fixed-tab-2">
            <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--6-col-desktop" id="cart-items">
                    {% include "sale/_items.html" with {'items_belanja':items_belanja} %}
                </div>
                <div class="mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-cell--6-col-desktop mdl-cell--hide-phone">
                    {% include "sale/_product_desktop.html" with {'products':products} %}
                </div>
            </div>
        </section>

        <!-- Tab 3 -->
        <section class="mdl-layout__tab-panel" id="fixed-tab-3">
            <div class="page-content">
                This area for payment
            </div>
        </section>

    </main>
</div>
<div aria-live="assertive" aria-atomic="true" aria-relevant="text" class="mdl-snackbar mdl-js-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button type="button" class="mdl-snackbar__action"></button>
</div>
{% endblock %}

{% block footer %}
<footer class="mdl-mini-footer mdl-shadow--2dp mdl-color-text--blue-grey-50">
    {#<div class="mdl-button-group">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Suspend
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            Cancel
        </button>
        <!--<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary">
            Payment
        </button>-->
    </div>#}
    <div class="mdl-mini-footer--left-section">
    </div>
    <div class="mdl-mini-footer--right-section">
        <button class="mdl-mini-footer--social-btn">
            <i class="material-icons" role="presentation">clear</i>
            <span class="visuallyhidden">Clear</span>
        </button>
        <button class="mdl-mini-footer--social-btn">
            <i class="material-icons" role="presentation">block</i>
            <span class="visuallyhidden">Suspend</span>
        </button>
        <button class="mdl-mini-footer--social-btn">
            <i class="material-icons" role="presentation">attach_money</i>
            <span class="visuallyhidden">attach_money</span>
        </button>
    </div>
</footer>
{% endblock %}

{% block endbodyjs %}
<script src="{{ 'mobile/assets/js/jquery-3.3.1.min.js' | module_path }}"></script>
<script src="{{ 'mobile/assets/lib/mdl-selectfield/mdl-selectfield.min.js' | module_path }}"></script>
<script type="text/javascript">
    transaction = {
        addToCart: function (item) {
            $.ajax({
                'beforeSend': function() { Loading.show(); },
                'complete': function() { Loading.hide(); },
                'url': "{{ 'pos/transactions/scan' | link }}",
                'type':'post',
                'data':{"item":item},
                'success': function(data){
                    console.log(data);
                    if(data.status=='success'){
                        showToast(data.message);
                        transaction.refreshChart();
                        /*$('span[id="sub-total"]').html(transaction.moneyFormat(data.sub_total));
                        $('#payment-button').css('display','block');
                        $("input[id='scan']").val("");
                        $('#list-item').find("input.input-block-level").val("");
                        $('#list-item').find(".filter-option").html('Pilih Nama Barang');
                        transaction.paymentRequest();*/
                    }
                },
                complete: function() {
                    $(this).data('requestRunning', false);
                }
            });
            return false;
        },
        deleteItem: function (id) {
            $.ajax({
                'beforeSend': function() { Loading.show(); },
                'complete': function() { Loading.hide(); },
                'url': "{{ 'pos/transactions/delete-item' | link }}/"+id,
                'type':'post',
                'data':{"id":id},
                'success': function(data){
                    console.log(data);
                    if(data.status=='success'){
                        showToast(data.message);
                        transaction.refreshChart();
                        $('span[id="sub-total"]').html(transaction.moneyFormat(data.sub_total));
                    }
                },
            });
            return false;
        },
        refreshChart: function () {
            $.ajax({
                'beforeSend': function() { Loading.show(); },
                'complete': function() { Loading.hide(); },
                'url': "{{ 'mobile/sale/cart' | link }}",
                'type':'get',
                'success': function(data){
                    console.log(data);
                    $('#cart-items').html(data);
                    initItemAction();
                    //$('span[id="sub-total"]').html(data.sub_total);
                },
            });
        },
        moneyFormat: function (num) {
            return num.toString().replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1.")+',00';
        },
        pushQty: function (id,data) {
            var $this = $(data);
            var qty = data.value;
            if(typeof qty == "undefined")
                var qty = $this.val();
            $.ajax({
                'beforeSend': function() { Loading.show(); },
                'complete': function() { Loading.hide(); },
                'url' : "{{ 'pos/transactions/update-qty' | link }}",
                'type' : 'post',
                'data' : {"id":id, "qty":qty},
                'success' : function(data){
                    console.log(data);
                    if (data.status == 'success'){
                        transaction.refreshChart();
                        $('input[id="qty"]').html(data.div);
                        /*$('span[id="sub-total"]').html(transaction.moneyFormat(data.subtotal));
                        $('#discount-'+id).find('input').val(data.discount_percentage);
                        $('#total-item-'+id).html(transaction.moneyFormat(data.total));
                        $('input[id="PaymentForm_amount_tendered"]').val(transaction.moneyFormat(data.total));*/
                    } else
                        $this.val(1);
                },
            });
            return false;
        },
        pushDiscount: function (data) {
            var $this = $(data);
            var id = $this.attr('rel_id');
            $.ajax({
                'beforeSend': function() { Loading.show(); },
                'complete': function() { Loading.hide(); },
                'url': "{{ 'pos/transactions/discount' | link }}",
                'type':'post',
                'data':{'id':id,'value':$this.val()},
                'dataType': 'json',
                'success': function(data){
                    if (data.status == 'success'){
                        $('#total-item-'+id).html(data.total);
                        $("input[id='scan']").focus();
                        $('input[id="PaymentForm_amount_tendered"]').val(data.total);
                    }
                },
            });
            return false;
        },
        setType: function (data) {
            var $this = $(data);
            $.ajax({
                'beforeSend': function() { Loading.show(); },
                'complete': function() { Loading.hide(); },
                'url': "{{ 'pos/transactions/set-type' | link }}",
                'type':'post',
                'data':{'type':$this.val()},
                'dataType': 'json',
                'success': function(data){
                    if ( data.status=='success' ){
                        window.location.reload(true);
                    }
                },
            });
            return false;
        },
        holdTransaction: function () {

        },
        cancelRequest: function () {
            if(confirm('Anda yakin ingin membatalkan transaksi ini ?')){
                $.ajax({
                    'beforeSend': function() { Loading.show(); },
                    'complete': function() { Loading.hide(); },
                    'url': "{{ 'pos/transactions/cancel-transaction' | link }}",
                    'type':'post',
                    'dataType': 'json',
                    'success': function(data){
                        if ( data.status=='success' ){
                            window.location.reload(true);
                        }
                    },
                });
                return false;
            }
        },
        paymentRequest: function () {
            var id = "{{ params.id }}";
            $.ajax({
                'beforeSend': function() { Loading.show(); },
                'complete': function() { Loading.hide(); },
                'url': "{{ 'pos/transactions/payment-request' | link }}",
                'type':'post',
                'data':{'id':id},
                'success': function(data){
                    $('#payment-form').html(data);
                    $('input[id="PaymentForm_amount_tendered"]').focus();
                    $('input[id="PaymentForm_amount_tendered"]').trigger('click');
                    $('#btn-cancel-container').show();
                },
            });
            return false;
        },
        changeRequest: function (amount_tendered) {
            $.ajax({
                'beforeSend': function() { Loading.show(); },
                'complete': function() { Loading.hide(); },
                'url': "{{ 'pos/transactions/change-request' | link }}",
                'type':'post',
                'data':{"amount_tendered":amount_tendered},
                'success': function(data){
                    $('#change').html(data);
                    $('.submit-payment').removeAttr('disabled');
                    setTimeout(function () {
                        $('.submit-payment').focus();
                    }, 100);
                },
            });
            return false;
        },
        pushTax: function (data) {
            var $this = $(data);
            $.ajax({
                'beforeSend': function() { Loading.show(); },
                'complete': function() { Loading.hide(); },
                'url': "{{ 'pos/transactions/tax' | link }}",
                'type':'post',
                'data':{"taxt":$this.val()},
                'success': function(data){

                },
            });
        },
        setCustomer: function (data) {
            var $this = $(data);
            $.ajax({
                'beforeSend': function() { Loading.show(); },
                'complete': function() { Loading.hide(); },
                'url': "{{ 'pos/transactions/set-customer' | link }}",
                'type':'post',
                'data':{"customer_id":$this.val()},
                'success': function(data){

                },
            });
        }
    }

    function checkSearch(data,action)
    {
        if(data.value!==''){
            addToCart(data.value,action);
        }
    }

    function moneyUnformat(money_string) {
        return money_string
            .replace(/,/g , "__COMMA__") // Replace `,` by some unique string
            .replace(/\./g, '')         // Replace `.` by `,`
            .replace(/__COMMA__/g, '.');
    }

    function createCustomer()
    {
        $.ajax({
            'beforeSend': function() { Loading.show(); },
            'complete': function() { Loading.hide(); },
            'url': "{{ 'pos/customers/create' | link }}",
            'type':'post',
            //'dataType': 'json',
            'success': function(data){
                $('.modal-content .modal-footer').hide();
                $('.modal-content .modal-title').html("Tambah Pelanggan");
                $('.modal-content #div-for-items').html(data);
                $('#launch-modal').trigger('click');
                $("input[id='Customer_name']").focus();
            },
        });
        return false;
    }

    function pushFindCustomer(nama,url)
    {
        $.ajax({
            'beforeSend': function() { Loading.show(); },
            'complete': function() { Loading.hide(); },
            'url': url,
            'type':'post',
            'data':{'nama':nama},
            'dataType': 'json',
            'success': function(data){
                if(data.status=='success'){
                    $('#customer-name').html(data.div);
                    $('#customer-name').css('display','block');
                    $('#find-customer').css('display','none');
                    $("input[id=\'scan\']").focus();
                }
            },
        });
        return false;
    }

    function initItemAction() {
        $('.cart-item-qty').click(function () {
            $(this).select();
        });

        $('.cart-item-delete').click(function () {
            var id = $(this).attr("attr-id");
            showDialog({
                title: 'Delete item',
                text: "<p>are you sure?</p>",
                negative: {
                    title: 'Batal'
                },
                positive: {
                    title: 'Delete'
                },
                cancelable: false,
                call_back: 'deleteItem',
                item_id: id
            });
        });
    }

    function showDialog(options) {
        options = $.extend({
            id: 'orrsDiag',
            title: null,
            text: null,
            negative: false,
            positive: false,
            cancelable: true,
            contentStyle: null,
            onLoaded: false
        }, options);

        // remove existing dialogs
        $('.dialog-container').remove();
        $(document).unbind("keyup.dialog");

        $('<div id="' + options.id + '" class="dialog-container"><div class="mdl-card mdl-shadow--16dp"></div></div>').appendTo("body");
        var dialog = $('#orrsDiag');
        var content = dialog.find('.mdl-card');
        if (options.contentStyle != null) content.css(options.contentStyle);
        if (options.title != null) {
            $('<h5>' + options.title + '</h5>').appendTo(content);
        }
        if (options.text != null) {
            $(options.text).appendTo(content);
        }
        if (options.negative || options.positive) {
            var buttonBar = $('<div class="mdl-card__actions dialog-button-bar"></div>');
            if (options.negative) {
                options.negative = $.extend({
                    id: 'negative',
                    title: 'Cancel',
                    onClick: function () {
                        return false;
                    }
                }, options.negative);
                var negButton = $('<button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="' + options.negative.id + '">' + options.negative.title + '</button>');
                negButton.click(function (e) {
                    e.preventDefault();
                    if (!options.negative.onClick(e))
                        hideDialog(dialog)
                });
                negButton.appendTo(buttonBar);
            }
            if (options.positive) {
                options.positive = $.extend({
                    id: 'positive',
                    title: 'OK',
                    onClick: function () {
                        if (options.call_back == 'deleteItem') {
                            transaction.deleteItem(options.item_id);
                        }
                        return false;
                    }
                }, options.positive);
                var posButton = $('<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" id="' + options.positive.id + '">' + options.positive.title + '</button>');
                posButton.click(function (e) {
                    e.preventDefault();
                    if (!options.positive.onClick(e))
                        hideDialog(dialog)
                });
                posButton.appendTo(buttonBar);
            }
            buttonBar.appendTo(content);
        }
        componentHandler.upgradeDom();
        if (options.cancelable) {
            dialog.click(function () {
                hideDialog(dialog);
            });
            $(document).bind("keyup.dialog", function (e) {
                if (e.which == 27)
                    hideDialog(dialog);
            });
            content.click(function (e) {
                e.stopPropagation();
            });
        }
        setTimeout(function () {
            dialog.css({opacity: 1});
            if (options.onLoaded)
                options.onLoaded();
        }, 1);
    }

    function hideDialog(dialog) {
        $(document).unbind("keyup.dialog");
        dialog.css({opacity: 0});
        setTimeout(function () {
            dialog.remove();
        }, 400);
    }

    $(function () {
        initItemAction();
    });
</script>
{% endblock %}