{% extends "layout.html" %}
{% block pagetitle %}
{{ trans.get('mobile', 'Sale Transaction') }} - {{ App.params.site_name }}
{% endblock %}

{% block header %}
<header class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--white mdl-layout--fixed-tabs">
    <div class="mdl-layout__header-row">
        <span class="mdl-layout-title">{% block pagesection %}Home{% endblock %}</span>
        <div class="mdl-layout-spacer"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
                <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
                <input class="mdl-textfield__input" type="text" id="search">
                <label class="mdl-textfield__label" for="search">Enter your query...</label>
            </div>
        </div>
        {% if not App.user.isGuest() %}
        <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="hdrbtn">
            <i class="material-icons">notifications</i>
        </button>
        <ul class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right" for="hdrbtn">
            <li class="mdl-menu__item">About</li>
            <li class="mdl-menu__item">Contact</li>
            <li class="mdl-menu__item">
                <a href="{{ 'mobile/default/logout' }}">Logout</a>
            </li>
        </ul>
        {% endif %}
    </div>
    <!-- Tab Container with Tab links -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--grey-300">
        <!-- class is-active to show currently active tab -->
        <a href="#fixed-tab-1" class="mdl-layout__tab">{{ trans.get('mobile', 'Item List') }}</a>
        <a href="#fixed-tab-2" class="mdl-layout__tab is-active">{{ trans.get('mobile', 'Transaction') }}</a>
        <a href="#fixed-tab-3" class="mdl-layout__tab">{{ trans.get('mobile', 'Payment') }}</a>
    </div>
</header>
{% endblock %}

{% block content %}
<style>
    #fixed-tab-3 td, th {width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;-o-text-overflow: ellipsis;}
</style>
<!-- Layout Container with Fixed Header and Tabs -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
    <main class="mdl-layout__content">
        <!-- Tab 1 -->
        <section class="mdl-layout__tab-panel" id="fixed-tab-1">
            {% include "sale/_product.html" %}
        </section>

        <!-- Tab 2 -->
        <section class="mdl-layout__tab-panel is-active" id="fixed-tab-2">
            {% include "sale/_form.html" %}
        </section>

        <!-- Tab 3 -->
        <section class="mdl-layout__tab-panel" id="fixed-tab-3">
            <div class="page-content">
                This area for payment
            </div>
        </section>

    </main>
</div>
{% endblock %}

{% block footer %}

<footer class="mdl-mini-footer mdl-shadow--2dp mdl-color-text--blue-grey-50">
    {#<div class="mdl-button-group">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
            Suspend
        </button>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
            Cancel
        </button>
        <!--<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--primary">
            Payment
        </button>-->
    </div>#}
    <div class="mdl-mini-footer--left-section">
        <button class="mdl-mini-footer--social-btn">
            <i class="material-icons" role="presentation">clear</i>
            <span class="visuallyhidden">Clear</span>
        </button>
        <button class="mdl-mini-footer--social-btn">
            <i class="material-icons" role="presentation">block</i>
            <span class="visuallyhidden">Suspend</span>
        </button>
        <button class="mdl-mini-footer--social-btn">
            <i class="material-icons" role="presentation">add_box</i>
            <span class="visuallyhidden">Add Item</span>
        </button>
    </div>
    <div class="mdl-mini-footer--right-section">
        <button class="mdl-mini-footer--social-btn">
            <i class="material-icons" role="presentation">attach_money</i>
            <span class="visuallyhidden">attach_money</span>
        </button>
    </div>
</footer>
{% endblock %}

{% block endbodyjs %}
<script src="{{ 'mobile/assets/js/jquery-3.3.1.min.js' | module_path }}"></script>
<script type="text/javascript">

</script>
{% endblock %}