#mainNav,a{-webkit-transition:all .2s;-moz-transition:all .2s}
#mainNav,#mainNav .navbar-brand,.btn,body,h1,h2,h3,h4,h5,h6{font-family:proxima_novaregular}
@font-face{font-family:proxima_novalight;src:url(../fonts/proximanova-light-webfont.eot);src:url(../fonts/proximanova-light-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/proximanova-light-webfont.woff2) format("woff2"),url(../fonts/proximanova-light-webfont.woff) format("woff");font-weight:400;font-style:normal}
@font-face{font-family:proxima_novaregular;src:url(../fonts/proximanova-regular-webfont.eot);src:url(../fonts/proximanova-regular-webfont.eot?#iefix) format("embedded-opentype"),url(../fonts/proximanova-regular-webfont.woff2) format("woff2"),url(../fonts/proximanova-regular-webfont.woff) format("woff");font-weight:400;font-style:normal}
body{-webkit-tap-highlight-color:#222}
hr{max-width:50px;border-width:3px;border-color:#F05F40}
hr.light{border-color:#fff}
a{color:#F05F40;transition:all .2s}
a:focus,a:hover{color:#f05f40}
p{font-size:16px;line-height:1.5;margin-bottom:20px}
.bg-primary{background-color:#F05F40!important}
.bg-dark{color:#fff;background-color:#222!important}
.text-faded{color:rgba(255,255,255,.7)}
section{padding:100px 0}
section#header{padding:0}
.section-heading{margin-top:0}
::-moz-selection{color:#fff;background:#222;text-shadow:none}
::selection{color:#fff;background:#222;text-shadow:none}
img::selection{color:#fff;background:0 0}
img::-moz-selection{color:#fff;background:0 0}
#mainNav{border-color:rgba(34,34,34,.05);background-color:#fff;transition:all .2s}
#mainNav .navbar-brand{font-weight:700;text-transform:uppercase;color:#F05F40}
#mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{color:#f05f40}
#mainNav .navbar-toggle{font-size:12px;font-weight:700;text-transform:uppercase;color:#222}
#mainNav .navbar-nav>li.nav-item>a.nav-link,#mainNav .navbar-nav>li.nav-item>a.nav-link:focus{font-size:13px;font-weight:700;text-transform:uppercase;color:#222}
#mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,#mainNav .navbar-nav>li.nav-item>a.nav-link:hover{color:#F05F40}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active,#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active{color:#F05F40!important;background-color:transparent}
#mainNav .navbar-nav>li.nav-item>a.nav-link.active:hover,#mainNav .navbar-nav>li.nav-item>a.nav-link:focus.active:hover{background-color:transparent}
@media (min-width:992px){#mainNav{border-color:rgba(255,255,255,.3);background-color:transparent}
    #mainNav .navbar-brand{color:rgba(255,255,255,.7)}
    #mainNav .navbar-brand:focus,#mainNav .navbar-brand:hover{color:#fff}
    #mainNav .navbar-nav>li.nav-item>a.nav-link,#mainNav .navbar-nav>li.nav-item>a.nav-link:focus{color:rgba(255,255,255,.7)}
    #mainNav .navbar-nav>li.nav-item>a.nav-link:focus:hover,#mainNav .navbar-nav>li.nav-item>a.nav-link:hover{color:#fff}
    #mainNav.navbar-shrink{border-color:rgba(34,34,34,.05);background-color:#fff}
    #mainNav.navbar-shrink .navbar-brand{font-size:16px;color:#F05F40}
    #mainNav.navbar-shrink .navbar-brand:focus,#mainNav.navbar-shrink .navbar-brand:hover{color:#f05f40}
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link,#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus{color:#222}
    #mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:focus:hover,#mainNav.navbar-shrink .navbar-nav>li.nav-item>a.nav-link:hover{color:#F05F40}
}
header.masthead{position:relative;width:100%;min-height:auto;text-align:center;color:#fff;background-image:url(../img/header.jpg);background-position:center;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
header.masthead .header-content{position:relative;width:100%;padding:150px 15px 100px;text-align:center}
header.masthead .header-content .header-content-inner h1{font-size:30px;font-weight:700;margin-top:0;margin-bottom:0;text-transform:uppercase}
header.masthead .header-content .header-content-inner hr{margin:30px auto}
header.masthead .header-content .header-content-inner p{font-size:16px;font-weight:300;margin-bottom:50px;color:rgba(255,255,255,.7)}
@media (min-width:768px){header.masthead{height:100%;min-height:600px}
    header.masthead .header-content{position:absolute;top:50%;padding:0 50px;-webkit-transform:translateY(-50%);-ms-transform:translateY(-50%);transform:translateY(-50%)}
    header.masthead .header-content .header-content-inner{max-width:1000px;margin-right:auto;margin-left:auto}
    header.masthead .header-content .header-content-inner h1{font-size:50px}
    header.masthead .header-content .header-content-inner p{font-size:18px;max-width:80%;margin-right:auto;margin-left:auto}
}
.service-box{max-width:400px;margin:50px auto 0}
@media (min-width:992px){.service-box{margin:20px auto 0}
}
.service-box p{margin-bottom:0}
.portfolio-box{position:relative;display:block;max-width:650px;margin:0 auto}
.portfolio-box .portfolio-box-caption{position:absolute;bottom:0;display:block;width:100%;height:100%;text-align:center;opacity:0;color:#fff;background:rgba(240,95,64,.9);-webkit-transition:all .2s;-moz-transition:all .2s;transition:all .2s}
.btn-default.active,.btn-default:active,.btn-primary.active,.btn-primary:active,.open>.btn-default.dropdown-toggle,.open>.btn-primary.dropdown-toggle{background-image:none}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content{position:absolute;top:50%;width:100%;transform:translateY(-50%);text-align:center}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name{padding:0 15px;font-family:proxima_novaregular}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category{font-size:14px;font-weight:600;text-transform:uppercase}
.btn,.format-chat ul li strong{font-weight:700}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name{font-size:18px}
.portfolio-box:hover .portfolio-box-caption{opacity:1}
.portfolio-box:focus{outline:0}
@media (min-width:768px){.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category{font-size:16px}
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name{font-size:22px}
}
.call-to-action{padding:50px 0}
.call-to-action h2{margin:0 auto 20px}
.text-primary{color:#F05F40!important}
.no-gutter>[class*=col-]{padding-right:0;padding-left:0}
.btn-default{color:#222;border-color:#fff;background-color:#fff}
.btn-default.focus,.btn-default:focus{color:#222;border-color:#bfbfbf;background-color:#e6e6e6}
.btn-default.active,.btn-default:active,.btn-default:hover,.open>.btn-default.dropdown-toggle{color:#222;border-color:#e0e0e0;background-color:#e6e6e6}
.btn-default.active.focus,.btn-default.active:focus,.btn-default.active:hover,.btn-default:active.focus,.btn-default:active:focus,.btn-default:active:hover,.open>.btn-default.dropdown-toggle.focus,.open>.btn-default.dropdown-toggle:focus,.open>.btn-default.dropdown-toggle:hover{color:#222;border-color:#bfbfbf;background-color:#d4d4d4}
.btn-default.disabled.focus,.btn-default.disabled:focus,.btn-default.disabled:hover,.btn-default[disabled].focus,.btn-default[disabled]:focus,.btn-default[disabled]:hover,fieldset[disabled] .btn-default.focus,fieldset[disabled] .btn-default:focus,fieldset[disabled] .btn-default:hover{border-color:#fff;background-color:#fff}
.btn-default .badge{color:#fff;background-color:#222}
.btn-primary{color:#fff;border-color:#F05F40;background-color:#F05F40}
.btn-primary.focus,.btn-primary:focus{color:#fff;border-color:#a4270d;background-color:#eb3812}
.btn-primary.active,.btn-primary:active,.btn-primary:hover,.open>.btn-primary.dropdown-toggle{color:#fff;border-color:#e13612;background-color:#eb3812}
.btn-primary.active.focus,.btn-primary.active:focus,.btn-primary.active:hover,.btn-primary:active.focus,.btn-primary:active:focus,.btn-primary:active:hover,.open>.btn-primary.dropdown-toggle.focus,.open>.btn-primary.dropdown-toggle:focus,.open>.btn-primary.dropdown-toggle:hover{color:#fff;border-color:#a4270d;background-color:#c93110}
.btn-primary.disabled.focus,.btn-primary.disabled:focus,.btn-primary.disabled:hover,.btn-primary[disabled].focus,.btn-primary[disabled]:focus,.btn-primary[disabled]:hover,fieldset[disabled] .btn-primary.focus,fieldset[disabled] .btn-primary:focus,fieldset[disabled] .btn-primary:hover{border-color:#F05F40;background-color:#F05F40}
.btn-primary .badge{color:#F05F40;background-color:#fff}
.btn{text-transform:uppercase;border:none;border-radius:300px}
.btn-xl{padding:15px 30px}
.blog .post{margin-bottom:50px}
.blog .post .post-title{margin:0 0 10px}
.blog .meta{margin-bottom:25px}
.blog.no-sidebar #comments,.blog.no-sidebar .comment-form-wrapper,.blog.no-sidebar .pagination,.blog.no-sidebar .post{width:770px;margin:0 auto}
.blog.no-sidebar .meta,.blog.no-sidebar .pagination,.blog.no-sidebar .post-title{text-align:center}
.meta .sep{padding:0 3px}
.format-gallery .media-wrapper{margin:0}
.no-sidebar .format-gallery .gallery-wrapper{width:620px;margin:0 auto}
.format-gallery .gallery figure img{width:100%}
.format-gallery .gallery{list-style:none;width:110%;margin-right:-6px;margin-left:-6px;margin-bottom:8px}
.format-gallery .gallery:after,.format-gallery .gallery:before{display:table;content:"";line-height:0}
.format-gallery .gallery:after{clear:both}
.format-gallery .gallery .item{width:307px;float:left;min-height:1px;margin-left:6px;margin-bottom:6px;position:relative}
.format-chat ul{list-style:none}
.format-chat ul li{margin-bottom:5px}
.format-link .post-title a:after{display:inline-block;content:"→";padding-left:10px}
.form-container:after,.sidebox .post-list:after{content:'';clear:both;visibility:hidden}
.item-details li span{font-size:15px;padding-right:2px;font-weight:700}
.item-details li a{color:#6c6c6c}
.item-details li a:hover{color:#1abb9c}
.media-wrapper.portfolio{margin-bottom:20px}
.media-wrapper.portfolio.player{margin-bottom:50px}
.sidebox{margin-top:50px;display:block}
.sidebox h3{font-size:16px;margin-bottom:15px}
.sidebox:first-child{margin:0}
.sidebox .post-list{padding:0;margin:0}
.sidebox .post-list:after{display:block;height:0}
#comments .user,.sidebox .post-list .overlay{width:70px;height:70px;float:left}
.sidebox .post-list li{clear:both;margin-bottom:15px;display:block;overflow:hidden}
.sidebox .post-list h6{font-size:14px;line-height:25px;margin:0;font-weight:400;text-transform:none;letter-spacing:normal;font-family:proxima_novalight}
.sidebox a{color:#6c6c6c}
.sidebox a:hover{color:#1abb9c}
.sidebox .post-list .meta{margin-left:85px;overflow:hidden;margin-bottom:0}
.pagination,.sidebox.widget .searchform input,.sidebox.widget form{margin:0}
.sidebox .post-list .meta em{font-size:12px;color:#a8a8a8;font-style:normal}
.sidebox .post-list .meta em:before{display:none}
.sidebox .overlay.cap-icon.more a div:before{width:16px;height:16px;font-size:16px;margin:-8px 0 0 -8px}