<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Basic Blocks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ 'vendor/bootstrap/css/bootstrap.min.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'vendor/font-awesome/css/font-awesome.min.css' | asset_url }}" rel="stylesheet" type="text/css">
    <link href="{{ 'vendor/magnific-popup/magnific-popup.css' | asset_url }}" rel="stylesheet">
    <link href="{{ 'css/creative.simple.css' | asset_url }}" rel="stylesheet">
</head>
<body>
    <div id="page" class="page"></div>
    <script src="{{ 'vendor/jquery/jquery.min.js' | asset_url }}"></script>
    <script src="{{ 'vendor/popper/popper.min.js' | asset_url }}"></script>
    <script src="{{ 'vendor/bootstrap/js/bootstrap.min.js' | asset_url }}"></script>
    <script src="{{ 'vendor/jquery-easing/jquery.easing.min.js' | asset_url }}"></script>
    <script src="{{ 'vendor/scrollreveal/scrollreveal.min.js' | asset_url }}"></script>
    <script src="{{ 'vendor/magnific-popup/jquery.magnific-popup.min.js' | asset_url }}"></script>
    <script src="{{ 'js/creative.min.js' | asset_url }}"></script>
</body>
</html>
