{% extends "layout.html" %}
{% block pagetitle %}
Buat Push Notifikasi Baru - {{ App.params.site_name }}
{% endblock %}

{% block content %}
<div id="main_wrapper">
    <div class="page_bar clearfix">
        <div class="row">
            <div class="col-sm-10">
                <h1 class="page_title">Push Notifikasi Baru</h1>
                <p class="text-muted">Buat Push Notifikasi baru</p>
            </div>
            <div class="col-sm-2 text-right">
                <a class="btn btn-default" href="{{ 'pos/fcms/view' | link }}">Daftar Push Notifikasi</a>
            </div>
        </div>
    </div>
    <div class="page_content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">Kolom bertanda <span class="red">*</span> tidak boleh dikosongi</div>
                        <div class="panel-body">
                            {% if message %}
                            <div class="alert {% if success %}alert-success{% else %}alert-warning{% endif %}">{{ message | raw }}</div>
                            {% endif %}
                            <form method="post" name="group-create" class="form-horizontal">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Judul <span class="red">*</span></label>
                                    <div class="col-sm-6">
                                        <input name="Fcms[title]" type="text" class="form-control {% if errors.title %}error{% endif %}" value="{{ model.title }}">
                                        <span class="help-block">Judul notifikasi</span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Pesan</label>
                                    <div class="col-sm-6">
                                        <textarea name="Fcms[message]" class="form-control">{{ model.message }}</textarea>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Segmen/Topic <span class="red">*</span></label>
                                    <div class="col-sm-6">
                                        {% set topics = model.getTopics() %}
                                        <select name="Fcms[topic]" class="form-control">
                                            {% for topic, topic_name in topics %}
                                            <option value="{{ topic }}">{{ topic_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">&nbsp;</label>
                                    <div class="col-sm-10">
                                        <input type="submit" name="Submit" value="Publish Sekarang" class="btn btn-success btn-submit">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partial/right_menu.html' %}
{% endblock %}
