<div class="col-md-12">&nbsp;</div>
<div class="col-md-6">
    <h4 class="no-margin"><i class="fa fa-file-o"></i> Data Penerimaan</h4>
    <table class="table table-hover mt20">
        <tr>
        <tr>
            <td>Id</td>
            <td>#{{ model.id }}</td>
        </tr>
        <tr>
            <td>Kode Penerimaan</td>
            <td>{{ model.pr_number }}</td>
        </tr>
        <tr>
            <td>Nomor PO</td>
            <td>
                <a href="{{ 'pos/purchases/update' | link }}/{{ model.po_id }}#detail" title="Detail Purchase {{ model.po_id }}">
                    {{ detail.po_number }}
                </a>
            </td>
        </tr>
        <tr>
            <td>Supplier</td>
            <td><a href="{{ 'pos/suppliers/update' | link }}/{{ detail.supplier_id }}#detail" target="_blank">{{ detail.supplier_name }}</a></td>
        </tr>
        <tr>
            <td>Warehouse Tujuan</td>
            <td><a href="{{ 'pos/warehouses/update' | link }}/{{ detail.warehouse_id }}#detail">{{ detail.warehouse_name }}</a></td>
        </tr>
        <tr>
            <td>Tanggal Penerimaan</td>
            <td>{{ model.effective_date | date("d F Y") | default('-') }}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td>{{ model.status | title }}</td>
        </tr>
        <tr>
            <td>Catatan</td>
            <td>{{ model.notes | default('-') }}</td>
        </tr>
        </tbody>
    </table>
    <h4 class="no-margin"><i class="fa fa-calendar"></i> Logs</h4>
    <table class="table table-hover mt20">
        <tbody>
        <tr>
            <td>Tanggal Input</td>
            <td>{{ model.created_at }}</td>
        </tr>
        <tr>
            <td>Diinput Oleh</td>
            <td>{{ detail.created_by_name | default('-') }}</td>
        </tr>
        <tr>
            <td>Tanggal Perubahan Terakhir</td>
            <td>{{ model.updated_at | default('-') }}</td>
        </tr>
        <tr>
            <td>Diubah Oleh</td>
            <td>{{ detail.updated_by_name | default('-') }}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-md-6">
    <h4 class="no-margin"><i class="fa fa-list-ul"></i> Items</h4>
    <table class="table table-hover mt20">
        <thead>
        <tr>
            <th>No</th>
            <th>Nama Produk</th>
            <th>Jumlah</th>
            <th>Harga per Item</th>
        </tr>
        </thead>
        <tbody>
        {% set tot_qty = 0 %}
        {% set tot_price = 0 %}
        {% set ritems = primodel.getData(model.id) %}
        {% for i, item in ritems %}
        <tr>
            <td>{{ i+1 }}</td>
            <td>
                {% if item.title %}
                    {{ item.title }}
                {% else %}
                    {{ item.product_name }}
                {% endif %}
            </td>
            <td>{{ item.quantity }} {{ item.unit | title }}</td>
            <td style="text-align: right;">{{ item.price | number_format(0, ",", ".") | default(0) }}</td>
        </tr>
        {% set tot_qty = tot_qty + item.quantity %}
        {% set tot_price = tot_price + item.price*item.quantity %}
        {% else %}
        <tr>
            <td>Tidak ditemukan data.</td>
        </tr>
        {% endfor %}
        <tr>
            <td colspan="2"><center><b>Total</b></center></td>
            <td><b>{{ tot_qty }}</b></td>
            <td style="text-align: right;"><b>{{ tot_price | number_format(0, ",", ".") | default(0) }}</b></td>
        </tr>
        </tbody>
    </table>
</div>