<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="product_id">Nama Produk <span class="required">*</span></label>
            <select id="product_id" name="PurchaseOrderItems[product_id][]" class="form-control" onchange="updateUnit(this);">
                <option value="0">-</option>
                {% for i, product in products %}
                <option value="{{ product.id }}">{{ product.title }}</option>
                {% endfor %}
                <option value="0">Lainnya</option>
            </select>
            <span class="help-block"><a href="{{ 'pos/products/view' | link }}#create-new" target="_blank">Tambahkan Produk Baru</a></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="qty">Jumlah <span class="required">*</span></label>
            <div class="input-group">
                <input type="text" id="qty" name="PurchaseOrderItems[quantity][]" class="form-control" value="0" required>
                <span class="input-group-addon" id="unit">unit</span>
            </div>
        </div>
    </div>
    {#<div class="col-md-2">
        <label>Unit <span class="text-danger">*</span></label>
        <select id="unit" name="PurchaseOrderItems[unit][]" class="form-control">
            {% set ext_pos = App.params.ext_pos | json_decode %}
            {% for ui, unit in ext_pos.unit %}
            <option value="{{ unit }}" {% if item.unit and item.unit == unit %}selected="selected"{% endif %}>{{ unit | title }}</option>
            {% endfor %}
        </select>
    </div>#}
    <div class="col-md-3">
        <div class="form-group">
            <label for="price">Harga per Item <span class="required">*</span></label>
            <input type="text" id="price" name="PurchaseOrderItems[price][]" class="form-control" value="0" required>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <label>&nbsp;</label>
            <a href="javascript:void(0);" onclick="removeItem(this);" attr-id="{{ item.id }}" title="Hapus item ini" {% if not show_delete_btn %}style="display:none;"{% endif %}>
                <i class="fa fa-trash-o fa-2x"></i>
            </a>
            <a href="javascript:void(0);" onclick="addItem(this);"><i class="fa fa-plus fa-2x"></i></a>
        </div>
    </div>
</div>