{% extends "layout.html" %}
{% block pagetitle %}
Pengadaan Barang - {{ App.params.site_name }}
{% endblock %}

{% block content %}
<!-- main content -->
<div id="main_wrapper">
    <div class="page_bar clearfix">
        <div class="row">
            <div class="col-sm-10">
                <h1 class="page_title">Pengadaan Barang</h1>
                <p class="text-muted">Kelola data Pengadaan Barang</p>
            </div>
            <div class="col-sm-2 text-right">
                <a class="btn btn-default" data-toggle="tab" href="#create-new">Pengadaan Barang Baru</a>
            </div>
        </div>
    </div>
    <div class="page_content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="nav nav-tabs" id="tabs_a">
                                <li class="active">
                                    <a data-toggle="tab" href="#daftar">Daftar Pengadaan Barang</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#create-new">Pengadaan Barang Baru</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tabs_content_a">
                                <div id="daftar" class="tab-pane fade in active">
                                    <div id="dt_basic_wrapper" class="dataTables_wrapper form-inline no-footer table-responsive mt20" role="grid">
                                        <table id="dt_basic" class="table table-striped dataTable" attr-sort="4" attr-sort-type="desc">
                                            <thead>
                                            <tr>
                                                <th>No</th>
                                                <th>Nomor PO</th>
                                                <th>Total Harga</th>
                                                <th>Supplier</th>
                                                <th>Tanggal Order</th>
                                                <th>Status</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for i, purchase in purchases %}
                                            <tr>
                                                <td><center>{{ i+1 }}</center></td>
                                                <td>
                                                    <a href="{{ 'pos/purchases/update' | link }}/{{ purchase.id }}#detail" title="Detail Purchase {{ purchase.po_number }}">
                                                        {{ purchase.po_number }}
                                                    </a>
                                                </td>
                                                <td style="text-align: right;">{{ purchase.price_netto | number_format(0, ",", ".") }}</td>
                                                <td><a href="{{ 'pos/suppliers/update' | link }}/{{ purchase.supplier_id }}#detail">{{ purchase.supplier_name }}</a></td>
                                                <td><center>{{ purchase.date_order | date("Y-m-d") }}</center></td>
                                                <td>{{ purchase.status | title }}</td>
                                                <td>
                                                    <a href="{{ 'pos/purchases/update' | link }}/{{ purchase.id }}" title="Ubah Pengadaan Barang">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a href="{{ 'pos/purchases/update' | link }}/{{ purchase.id }}#detail" title="Detail Pengadaan Barang">
                                                        <i class="fa fa-search"></i>
                                                    </a>
                                                    <a href="{{ 'pos/purchases/delete' | link }}/{{ purchase.id }}" onclick="return hapus(this);">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% else %}
                                            <tr>
                                                <td>No data founds</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="create-new" class="tab-pane fade">
                                    {% include 'purchases/_form.html' with {'suppliers':suppliers, 'shipments':shipments} %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partial/right_menu.html' %}
{% endblock %}
{% block endbodyjs %}
<script src="{{ 'lib/DataTables/media/js/jquery.dataTables.min.js' | admin_asset_url }}"></script>
<script src="{{ 'lib/DataTables/media/js/dataTables.bootstrap.js' | admin_asset_url }}"></script>
<script type="text/javascript">
    function hapus(data) {
        if (confirm('Anda yakin ingin menghapus item ini ?')) {
            var $this =  $(data);
            var url = $this.attr('href');
            $.ajax({
                'url': url,
                'type':'post',
                //'dataType': 'json',
                'success': function(data) {
                    if (data.status == 'success') {
                        $this.parent().parent().remove();
                    }
                }
            });
        }
        return false;
    }
    $(function () {
       if (window.location.hash) {
           var hash = window.location.hash.substring(1);
           if ($('a[href="#'+hash+'"]').length > 0)
                $('a[href="#'+hash+'"]').click();
       }
    });
</script>
{% endblock %}
