<div class="row">
    <div class="col-md-4">
        <div class="form-group">
            <label for="admin_id">Nama Staf <span class="required">*</span></label>
            <select id="admin_id" name="WarehouseStaffs[admin_id][]" class="form-control select2-again">
                <option value="0">-</option>
                {% for i, admin in admins %}
                <option value="{{ admin.id }}">{{ admin.name }}</option>
                {% endfor %}
            </select>
            <span class="help-block"><a href="{{ 'pos/users/create' | link }}#create-new" target="_blank">Tambahkan Staf Baru</a></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label for="role_id">Hak Akses <span class="required">*</span></label>
            <select id="role_id" name="WarehouseStaffs[role_id][]" class="form-control select2-again">
                <option value="0">-</option>
                {% for i, role in roles %}
                <option value="{{ role.id }}">{{ role.title }}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="col-md-1">
        <div class="form-group">
            <label>&nbsp;</label>
            <a href="javascript:void(0);" onclick="removeItem(this);" attr-id="{{ item.id }}" title="Hapus item ini" {% if not show_delete_btn %}style="display:none;"{% endif %}>
                <i class="fa fa-trash-o fa-2x"></i>
            </a>
            <a href="javascript:void(0);" onclick="addItem(this);"><i class="fa fa-plus fa-2x"></i></a>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {
        if($('.select2-again').length) {
            $('.select2-again').select2({
                allowClear: true,
                placeholder: "Select..."
            });
        }
    });
</script>