<link rel="stylesheet" href="{{ 'lib/select2/select2.css' | admin_asset_url }}">
{% set whs = App.call.model("\\Model\\WarehousesModel", 'getData', {"status":1}) %}
<ul id="wh-list" style="display: none;">
    {% for iw, wh in whs  %}
    {% if wh.id != model.id %}
    <li id="{{ wh.id }}">{{ wh.title }}</li>
    {% endif %}
    {% endfor %}
</ul>
{% set products = App.call.model("\\Model\\ProductsModel", 'getData', {"active":1}) %}
<form method="post" id="product-fees-form" class="mt20" action="{{ 'pos/warehouses/product-fees' | link }}/{{ model.id }}">
    <div class="alert alert-success" style="display: none;"></div>
    {% for i, product in products %}
    {% set price_data = App.call.model("\\Model\\WarehouseProductFeesModel", 'getData', {"warehouse_id":model.id, "product_id":product.id}) %}
    {% set prices = price_data[0].configs | json_decode %}
    <div class="col-md-12">
        <div class="form-group">
            <label class="checkbox-inline">
                <input type="checkbox" name="WarehouseProducts[product_id][]"
                       value="{{ product.id }}" onclick="showPriceBox2(this);" {% if price_data %}checked{% endif %}> <b>{{ product.title | upper }}</b>
                <input type="hidden" name="WarehouseProducts[unset_product_id][{{ product.id }}]" id="unset-fee-product-{{ product.id }}" value="0">
            </label>
        </div>
        {% if prices %}
        <a href="javascript:void(0);" onclick="openWhOption2(this);" id="wh-fee-option-{{ product.id }}" class="pull-right"><i class="fa fa-copy"></i> Copy ke Warehouse lain</a>
        {% endif %}
        <div class="form-group padding10 copy-wh" style="display: none;">
            <label>Copy Harga {{ product.title }} Ke Warehouse Lainnya :</label>
            <input type="text" class="form-control s2_tokenization" name="WarehouseProducts[{{ product.id }}][copy_to_whs]" value="">
        </div>
    </div>
    <div class="col-md-12" id="product-fees-price_container-{{ product.id }}" {% if not prices %}style="display: none"{% endif %}>
        {% set no = 1 %}
        {% for ip, price in prices %}
        <div class="row padding10 price-item">
            <div class="col-md-3">
                <div class="form-group hide">
                    <label for="satuan">Jumlah Minimal <span class="required">*</span></label>
                    <input type="text" id="satuan" name="WarehouseProducts[{{ product.id }}][quantity][]"
                           placeholder="format angka. misal 1." class="form-control" value="{{ price.quantity }}">
                </div>
                <div class="form-group">
                    <label>&nbsp;</label>
                    <select name="WarehouseProducts[{{ product.id }}][delimeter][]" class="form-control">
                        {#<option value="less_than" {% if price.delimeter == 'less_than' %}selected="selected"{% endif %}>{{ "< (kurang dari)" }}</option>
                        <option value="more_than" {% if price.delimeter == 'more_than' %}selected="selected"{% endif %}>{{ '> (lebih dari)' }}</option>
                        <option value="less_than_equal" {% if price.delimeter == 'less_than_equal' %}selected="selected"{% endif %}>{{ "<= (kurang dari sama dengan)" }}</option>#}
                        <option value="more_than_equal" {% if price.delimeter == 'more_than_equal' %}selected="selected"{% endif %}>{{ '>= (lebih dari sama dengan)' }}</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group hide">
                    <label for="nilai">Jumlah Maksimal <span class="required">*</span></label>
                    <input type="text" id="nilai" name="WarehouseProducts[{{ product.id }}][quantity_max][]"
                           placeholder="format angka. misal 25." class="form-control" value="{{ price.quantity_max }}">
                </div>
                <div class="form-group">
                    <label>Jumlah <span class="required">*</span></label>
                    <input type="text" name="WarehouseProducts[{{ product.id }}][_qty][]"
                           placeholder="format angka. misal 25." class="form-control" value="{{ price._qty }}">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label for="unit">Harga <span class="required">*</span></label>
                    <input type="text" id="unit" name="WarehouseProducts[{{ product.id }}][price][]"
                           placeholder="format angka. misal 50000." class="form-control" value="{{ price.price }}">
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                    <label>&nbsp;</label>
                    <a href="javascript:void(0);" onclick="removePrice(this, true);" attr-id="{{ product.id }}" title="Hapus harga ini">
                        <i class="fa fa-trash-o fa-2x"></i>
                    </a>
                    {% if no == prices | length %}
                    <a href="javascript:void(0);" onclick="addItem2(this, false);" attr-id="{{ product.id }}"><i class="fa fa-plus fa-2x"></i></a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% set no = no + 1 %}
        {% else %}
        {% include 'warehouses/_product_price_form.html' with {'product':product} %}
        {% endfor %}
    </div>
    <input type="hidden" name="WarehouseProducts[{{ product.id }}][priority]" value="{{ product.ordering }}">
    {% endfor %}
    <div class="col-md-12">
        <div class="form-group">
            <input type="hidden" name="WarehouseProducts[warehouse_id]" value="{{ model.id }}">
            <input type="submit" value="Simpan" class="btn btn-info">
        </div>
    </div>
</form>

<style>
    .row + .row {margin-top: 0px;}
</style>
<script type="text/javascript">
    function removePrice(dt, execute) {
        if ($(dt).parent().find('.fa-plus').parent().is(':visible')) {
            alert('Harga ini tidak dapat dihapus!.');
        } else {
            if (confirm('Anda yakin ingin menghapus harga ini?')) {
                $(dt).parent().parent().parent().remove();
            }
        }
        return false;
    }
    function addItem2(dt, hide) {
        var id = $(dt).attr("attr-id");
        $.ajax({
            'url': '{{ "pos/warehouses/price-item" | link }}/'+id,
            'type':'get',
            'success': function(data) {
                $('#product-fees-price_container-'+id).append(data);
                $(dt).hide();
                if (hide) {
                    $(dt).parent().find('.fa-trash-o').parent().show();
                }
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                console.log("Status: " + textStatus + " Message: "+errorThrown);
            }
        });
    }
    function showPriceBox2(dt) {
        if ($(dt).is(':checked')) {
            $("#product-fees-price_container-"+ $(dt).val()).show();
            $("#wh-fee-option-"+ $(dt).val()).show();
            $("#unset-fee-product-"+ $(dt).val()).val(0);
        } else {
            $("#product-fees-price_container-"+ $(dt).val()).hide();
            $("#wh-fee-option-"+ $(dt).val()).hide();
            $("#unset-fee-product-"+ $(dt).val()).val(1);
        }
    }
    $(function () {
        $('#product-fees-form').submit(function () {
            var url = $(this).attr('action');
            $.ajax({
                'beforeSend': function() { $('.loader').show(); },
                'complete': function() { $('.loader').hide(); },
                'url': url,
                'type':'post',
                'data': $('#product-fees-form').serialize(),
                'success': function(data) {
                    console.log(data);
                    if (data.status == 'success') {
                        var alert_success = $('#product-fees-form').find('.alert-success');
                        alert_success.html(data.message);
                        alert_success.show();
                        setTimeout(function () {
                            window.location.reload(true);
                        }, 5000);
                    }
                },
                error: function(XMLHttpRequest, textStatus, errorThrown) {
                    console.log("Status: " + textStatus + " Message: "+errorThrown);
                }
            });

            return false;
        });

        if($('.s2_tokenization').length) {
            var whs = new Array();
            $('#wh-list').find('li').each(function () {
                whs.push($(this).html());
            });
            $('.s2_tokenization').select2({
                placeholder: "Select...",
                tags:whs,
                tokenSeparators: [",", " "]
            });
        }
    });

    function openWhOption2(dt) {
        var copy_wh = $(dt).parent().find('.copy-wh');
        if (copy_wh.is(":visible")) {
            $(dt).html('<i class="fa fa-copy"></i> Copy ke Warehouse lain');
            copy_wh.hide();
            copy_wh.find('.s2_tokenization').select2("val", "");
        } else {
            copy_wh.show();
            $(dt).html('<i class="fa fa-times"></i> Jangan Copy ke WH lain');
        }
    }
</script>
