{% extends "layout.html" %}
{% block pagetitle %}
Warehouse - {{ App.params.site_name }}
{% endblock %}

{% block content %}
<!-- main content -->
<div id="main_wrapper">
    <div class="page_bar clearfix">
        <div class="row">
            <div class="col-sm-10">
                <h1 class="page_title">Warehouse</h1>
                <p class="text-muted">Kelola data Warehouse</p>
            </div>
            <div class="col-sm-2 text-right">
                <a class="btn btn-default" data-toggle="tab" href="#create-new">Tambah Warehouse Baru</a>
            </div>
        </div>
    </div>
    <div class="page_content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <ul class="nav nav-tabs" id="tabs_a">
                                <li class="active">
                                    <a data-toggle="tab" href="#daftar">Daftar Warehouse</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#create-new">Tambah Warehouse Baru</a>
                                </li>
                            </ul>
                            <div class="tab-content" id="tabs_content_a">
                                <div id="daftar" class="tab-pane fade in active">
                                    <div id="dt_basic_wrapper" class="dataTables_wrapper form-inline no-footer table-responsive" role="grid">
                                        <table id="dt_basic" class="table table-striped dataTable">
                                            <thead>
                                            <tr>
                                                <th>id</th>
                                                <th>Nama Warehouse</th>
                                                <th>Alamat</th>
                                                <th>Catatan</th>
                                                <th>Tanggal Input</th>
                                                <th>Diinput Oleh</th>
                                                <th>&nbsp;</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for i, warehouse in warehouses %}
                                            <tr>
                                                <td><center>{{ warehouse.id }}</center></td>
                                                <td>{{ warehouse.title }}</td>
                                                <td>{{ warehouse.address }}</td>
                                                <td>{{ warehouse.notes | default('-') }}</td>
                                                <td>{{ warehouse.created_at }}</td>
                                                <td>{{ warehouse.admin_name | default('-') }}</td>
                                                <td>
                                                    <a href="{{ 'pos/warehouses/update' | link }}/{{ warehouse.id }}" title="Ubah Warehouse">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a href="{{ 'pos/warehouses/delete' | link }}/{{ warehouse.id }}" onclick="return hapus(this);">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% else %}
                                            <tr>
                                                <td>No data founds</td>
                                            </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div id="create-new" class="tab-pane fade">
                                    {% include 'warehouses/_form.html' %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'partial/right_menu.html' %}
{% endblock %}
{% block endbodyjs %}
<script src="{{ 'lib/DataTables/media/js/jquery.dataTables.min.js' | admin_asset_url }}"></script>
<script src="{{ 'lib/DataTables/media/js/dataTables.bootstrap.js' | admin_asset_url }}"></script>
<script type="text/javascript">
    function hapus(data) {
        if (confirm('Anda yakin ingin menghapus item ini ?')) {
            var $this =  $(data);
            var url = $this.attr('href');
            $.ajax({
                'url': url,
                'type':'post',
                //'dataType': 'json',
                'success': function(data) {
                    if (data.status == 'success') {
                        $this.parent().parent().remove();
                    }
                }
            });
        }
        return false;
    }
    $(function () {
       if (window.location.hash) {
           var hash = window.location.hash.substring(1);
           if ($('a[href="#'+hash+'"]').length > 0)
                $('a[href="#'+hash+'"]').click();
       }
    });
</script>
{% endblock %}
