<!-- side navigation -->
{% if not App.user.isGuest() %}
<nav id="side_nav">
    <ul>
        <li>
            <a href="{{ 'pos' | link }}"><span class="ion-speedometer"></span> <span class="nav_title">Dashboard</span></a>
        </li>
        <li>
            <a href="#">
                <span class="fa fa-money"></span>
                <span class="nav_title">Transaksi</span>
            </a>
            <div class="sub_panel">
                <div class="side_inner">
                    <h4 class="panel_heading panel_heading_first">Transaksi</h4>
                    <ul>
                        <li>
                            <a href="{{ 'pos/transactions/view' | link }}">
                                <span class="side_icon ion-ios7-folder-outline ion-ios7-mon"></span>Daftar Transaksi
                            </a>
                        </li>
                        <li>
                            <a href="{{ 'pos/transactions/create' | link }}">
                                <span class="side_icon ion-ios7-plus-outline"></span> Transaksi Baru
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="#">
                <span class="fa fa-briefcase"></span>
                <span class="nav_title">Inventory</span>
            </a>
            <div class="sub_panel">
                <div class="side_inner">
                    <h4 class="panel_heading panel_heading_first">Product</h4>
                    <ul>
                        <li>
                            <a href="{{ 'pos/products/view' | link }}">
                                <span class="side_icon ion-ios7-folder-outline ion-ios7-mon"></span>Daftar Produk
                            </a>
                        </li>
                        <li>
                            <a href="{{ 'pos/products/view' | link }}#create-new">
                                <span class="side_icon ion-ios7-plus-outline"></span> Produk Baru
                            </a>
                        </li>
                    </ul>
                    <h4 class="panel_heading panel_heading_first">Supplier</h4>
                    <ul>
                        <li>
                            <a href="{{ 'pos/suppliers/view' | link }}">
                                <span class="side_icon ion-ios7-folder-outline ion-ios7-mon"></span>Daftar Supplier
                            </a>
                        </li>
                        <li>
                            <a href="{{ 'pos/suppliers/view' | link }}#create-new">
                                <span class="side_icon ion-ios7-plus-outline"></span> Supplier Baru
                            </a>
                        </li>
                    </ul>
                    <h4 class="panel_heading panel_heading_first">Warehouse</h4>
                    <ul>
                        <li>
                            <a href="{{ 'pos/warehouses/view' | link }}">
                                <span class="side_icon ion-ios7-folder-outline ion-ios7-mon"></span>Daftar Warehouse
                            </a>
                        </li>
                        <li>
                            <a href="{{ 'pos/warehouses/view' | link }}#create-new">
                                <span class="side_icon ion-ios7-plus-outline"></span> Warehouse Baru
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li>
            <a href="#">
                <span class="ion-settings"></span>
                <span class="nav_title">Kelola</span>
            </a>
            <div class="sub_panel">
                <div class="side_inner">
                    <h4 class="panel_heading panel_heading_first">Kelola</h4>
                    <ul>
                        <li>
                            <a href="{{ 'pos/params/view' | link }}">
                                <span class="side_icon ion-ios7-folder-outline"></span> Parameter
                            </a>
                        </li>
                        <li>
                            <a href="{{ 'pos/users/view' | link }}">
                                <span class="side_icon ion-ios7-folder-outline"></span> User
                            </a>
                        </li>
                        <li>
                            <a href="{{ 'pos/users/group' | link }}">
                                <span class="side_icon ion-ios7-folder-outline"></span> User Goup
                            </a>
                        </li>
                        {#<li>
                            <a href="{{ 'pos/extensions/view' | link }}">
                                <span class="side_icon ion-ios7-folder-outline"></span> Ekstensi
                            </a>
                        </li>#}
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</nav>
{% endif %}
